## QUESTION 1

In [1]:
# Given text data
text_data = """
Age	Gender	Years Work Experience	Motivation	Pre-MBA Salary	Post-MBA Salary
30	M	More than 6	Career Advancement	85,000	105,000
34	F	More than 6	Career Advancement	86,000	100,000
28	M	4 to 6	Career Advancement	70,000	100,000
35	M	More than 6	Higher Financial Earnings	93,000	125,000
23	M	1 to 3	Career Advancement	52,000	60,000
28	F	4 to 6	Career Advancement	47,000	70,000
39	M	More than 6	Career Advancement	72,000	130,000
26	F	4 to 6	Career Advancement	53,000	75,000
30	M	More than 6	Career Change	75,000	110,000
24	M	1 to 3	Higher Financial Earnings	50,000	80,000
23	M	1 to 3	Higher Financial Earnings	42,500	85,000
28	M	4 to 6	Career Advancement	72,000	90,000
28	M	4 to 6	Career Advancement	55,000	70,000
27	F	4 to 6	Career Advancement	62,000	90,000
26	F	4 to 6	Career Change	64,000	80,000
31	M	More than 6	Career Advancement	89,000	100,000
35	M	More than 6	Higher Financial Earnings	87,000	105,000
39	F	More than 6	Genuine Interest	111,000	125,000
24	M	1 to 3	Higher Financial Earnings	35,000	70,000
30	M	4 to 6	Career Change	63,000	75,000
35	M	More than 6	Career Advancement	73,000	95,000
28	M	4 to 6	Career Advancement	57,000	75,000
23	F	None	Higher Financial Earnings	44,000	80,000
29	F	4 to 6	Career Advancement	63,000	90,000
33	M	More than 6	Higher Financial Earnings	84,000	100,000
"""

# Convert tab-separated data to CSV format
csv_data = text_data.replace(',', '').replace("\t", ",")


import pandas as pd
import io

# Read data into DataFrame
df = pd.read_csv(io.StringIO(csv_data))

# Calculate the expected salary increase
df['Expected Salary Increase'] = df['Post-MBA Salary'] - df['Pre-MBA Salary']

# Display the DataFrame
print(df[['Pre-MBA Salary', 'Post-MBA Salary', 'Expected Salary Increase']])

    Pre-MBA Salary  Post-MBA Salary  Expected Salary Increase
0            85000           105000                     20000
1            86000           100000                     14000
2            70000           100000                     30000
3            93000           125000                     32000
4            52000            60000                      8000
5            47000            70000                     23000
6            72000           130000                     58000
7            53000            75000                     22000
8            75000           110000                     35000
9            50000            80000                     30000
10           42500            85000                     42500
11           72000            90000                     18000
12           55000            70000                     15000
13           62000            90000                     28000
14           64000            80000                     16000
15           89000           100000                     11000
16           87000           105000                     18000
17          111000           125000                     14000
18           35000            70000                     35000
19           63000            75000                     12000
20           73000            95000                     22000
21           57000            75000                     18000
22           44000            80000                     36000
23           63000            90000                     27000
24           84000           100000                     16000

## QUESTION 2

Convert the provided database of stores and regional sales    to an Excel table to find the requested information.

a. The total number of units sold

b. The total number of units sold in the South region

c. The total number of units sold in December

### PART 1

In [3]:
import pandas as pd
import io

text = """
ID	Store No.	Sales Region	Item No.	Item Description	Unit Price	Units Sold	Week Ending
1	1	South	2005	24-inch Monitor	229	28	October
2	1	South	2005	24-inch Monitor	229	30	November
3	1	South	2005	24-inch Monitor	229	9	December
4	1	South	3006	Wireless Keyboard	19.95	30	October
5	1	South	3006	Wireless Keyboard	19.95	35	November
6	1	South	3006	Wireless Keyboard	19.95	39	December
7	1	South	6050	PC Mouse	8.95	28	October
8	1	South	6050	PC Mouse	8.95	3	November
9	1	South	6050	PC Mouse	8.95	38	December
10	1	South	8500	Laptop	849.95	24	October
11	1	South	8500	Laptop	849.95	27	November
12	1	South	8500	Laptop	849.95	33	December
13	2	South	2005	24-inch Monitor	229	8	October
14	2	South	2005	24-inch Monitor	229	8	November
15	2	South	2005	24-inch Monitor	229	10	December
16	2	South	3006	Wireless Keyboard	19.95	8	October
17	2	South	3006	Wireless Keyboard	19.95	8	November
18	2	South	3006	Wireless Keyboard	19.95	8	December
19	2	South	6050	PC Mouse	8.95	9	October
20	2	South	6050	PC Mouse	8.95	8	November
21	2	South	6050	PC Mouse	8.95	8	December
22	2	South	8500	Laptop	849.95	18	October
23	2	South	8500	Laptop	849.95	18	November
24	2	South	8500	Laptop	849.95	20	December
25	3	South	2005	24-inch Monitor	229	38	October
26	3	South	2005	24-inch Monitor	229	30	November
27	3	South	2005	24-inch Monitor	229	3	December
28	3	South	3006	Wireless Keyboard	19.95	30	October
29	3	South	3006	Wireless Keyboard	19.95	32	November
30	3	South	3006	Wireless Keyboard	19.95	31	December
31	3	South	6050	PC Mouse	8.95	25	October
32	3	South	6050	PC Mouse	8.95	5	November
33	3	South	6050	PC Mouse	8.95	26	December
34	3	South	8500	Laptop	849.95	28	October
35	3	South	8500	Laptop	849.95	27	November
36	3	South	8500	Laptop	849.95	29	December
37	4	North	2005	24-inch Monitor	229	18	October
38	4	North	2005	24-inch Monitor	229	20	November
39	4	North	2005	24-inch Monitor	229	4	December
40	4	North	3006	Wireless Keyboard	19.95	13	October
41	4	North	3006	Wireless Keyboard	19.95	24	November
42	4	North	3006	Wireless Keyboard	19.95	36	December
43	4	North	6050	PC Mouse	8.95	29	October
44	4	North	6050	PC Mouse	8.95	11	November
45	4	North	6050	PC Mouse	8.95	38	December
46	4	North	8500	Laptop	849.95	21	October
47	4	North	8500	Laptop	849.95	24	November
48	4	North	8500	Laptop	849.95	30	December
49	5	North	2005	24-inch Monitor	229	27	October
50	5	North	2005	24-inch Monitor	229	24	November
51	5	North	2005	24-inch Monitor	229	23	December
52	5	North	3006	Wireless Keyboard	19.95	80	October
53	5	North	3006	Wireless Keyboard	19.95	82	November
54	5	North	3006	Wireless Keyboard	19.95	75	December
55	5	North	6050	PC Mouse	8.95	65	October
56	5	North	6050	PC Mouse	8.95	24	November
57	5	North	6050	PC Mouse	8.95	55	December
58	5	North	8500	Laptop	849.95	55	October
59	5	North	8500	Laptop	849.95	57	November
60	5	North	8500	Laptop	849.95	47	December
61	6	East	2005	24-inch Monitor	229	24	October
62	6	East	2005	24-inch Monitor	229	85	November
63	6	East	2005	24-inch Monitor	229	56	December
64	6	East	3006	Wireless Keyboard	19.95	52	October
65	6	East	3006	Wireless Keyboard	19.95	58	November
66	6	East	3006	Wireless Keyboard	19.95	69	December
67	6	East	6050	PC Mouse	8.95	35	October
68	6	East	6050	PC Mouse	8.95	39	November
69	6	East	6050	PC Mouse	8.95	44	December
70	6	East	8500	Laptop	849.95	76	October
71	6	East	8500	Laptop	849.95	88	November
72	6	East	8500	Laptop	849.95	99	December
73	7	East	2005	24-inch Monitor	229	34	October
74	7	East	2005	24-inch Monitor	229	36	November
75	7	East	2005	24-inch Monitor	229	35	December
76	7	East	3006	Wireless Keyboard	19.95	49	October
77	7	East	3006	Wireless Keyboard	19.95	47	November
78	7	East	3006	Wireless Keyboard	19.95	48	December
79	7	East	6050	PC Mouse	8.95	45	October
80	7	East	6050	PC Mouse	8.95	42	November
81	7	East	6050	PC Mouse	8.95	45	December
82	7	East	8500	Laptop	849.95	55	October
83	7	East	8500	Laptop	849.95	57	November
84	7	East	8500	Laptop	849.95	55	December
85	8	East	2005	24-inch Monitor	229	18	October
86	8	East	2005	24-inch Monitor	229	17	November
87	8	East	2005	24-inch Monitor	229	23	December
88	8	East	3006	Wireless Keyboard	19.95	22	October
89	8	East	3006	Wireless Keyboard	19.95	18	November
90	8	East	3006	Wireless Keyboard	19.95	23	December
91	8	East	6050	PC Mouse	8.95	14	October
92	8	East	6050	PC Mouse	8.95	16	November
93	8	East	6050	PC Mouse	8.95	17	December
94	8	East	8500	Laptop	849.95	32	October
95	8	East	8500	Laptop	849.95	28	November
96	8	East	8500	Laptop	849.95	30	December
"""


data = text.replace("\t", ",")

# Convert the string data into a pandas DataFrame
df = pd.read_csv(io.StringIO(data))

# a. The total number of units sold
total_units_sold = df['Units Sold'].sum()

# b. The total number of units sold in the South region
total_units_sold_south = df[df['Sales Region'] == 'South']['Units Sold'].sum()

# c. The total number of units sold in December
total_units_sold_december = df[df['Week Ending'] == 'December']['Units Sold'].sum()

print(f"The total number of units sold is {total_units_sold}")

print(f"The total number of units sold in the South region is {total_units_sold_south}")

print(f"The total number of units sold in December is  {total_units_sold_december}")

The total number of units sold is 3172
The total number of units sold in the South region is 759
The total number of units sold in December is  1106

## QUESTION 3

In [4]:
import pandas as pd
import io

# Input data as a string
data = """
ID	Store No.	Sales Region	Item No.	Item Description	Unit Price	Units Sold	Week Ending
1	1	South	2005	24-inch Monitor	229	28	October
2	1	South	2005	24-inch Monitor	229	30	November
3	1	South	2005	24-inch Monitor	229	9	December
4	1	South	3006	Wireless Keyboard	19.95	30	October
5	1	South	3006	Wireless Keyboard	19.95	35	November
6	1	South	3006	Wireless Keyboard	19.95	39	December
7	1	South	6050	PC Mouse	8.95	28	October
8	1	South	6050	PC Mouse	8.95	3	November
9	1	South	6050	PC Mouse	8.95	38	December
10	1	South	8500	Laptop	849.95	27	October
11	1	South	8500	Laptop	849.95	27	November
12	1	South	8500	Laptop	849.95	33	December
13	2	South	2005	24-inch Monitor	229	8	October
14	2	South	2005	24-inch Monitor	229	8	November
15	2	South	2005	24-inch Monitor	229	10	December
16	2	South	3006	Wireless Keyboard	19.95	8	October
17	2	South	3006	Wireless Keyboard	19.95	8	November
18	2	South	3006	Wireless Keyboard	19.95	8	December
19	2	South	6050	PC Mouse	8.95	9	October
20	2	South	6050	PC Mouse	8.95	11	November
21	2	South	6050	PC Mouse	8.95	8	December
22	2	South	8500	Laptop	849.95	18	October
23	2	South	8500	Laptop	849.95	18	November
24	2	South	8500	Laptop	849.95	20	December
25	3	South	2005	24-inch Monitor	229	38	October
26	3	South	2005	24-inch Monitor	229	30	November
27	3	South	2005	24-inch Monitor	229	2	December
28	3	South	3006	Wireless Keyboard	19.95	30	October
29	3	South	3006	Wireless Keyboard	19.95	32	November
30	3	South	3006	Wireless Keyboard	19.95	31	December
31	3	South	6050	PC Mouse	8.95	25	October
32	3	South	6050	PC Mouse	8.95	6	November
33	3	South	6050	PC Mouse	8.95	26	December
34	3	South	8500	Laptop	849.95	28	October
35	3	South	8500	Laptop	849.95	27	November
36	3	South	8500	Laptop	849.95	29	December
37	4	North	2005	24-inch Monitor	229	18	October
38	4	North	2005	24-inch Monitor	229	20	November
39	4	North	2005	24-inch Monitor	229	5	December
40	4	North	3006	Wireless Keyboard	19.95	14	October
41	4	North	3006	Wireless Keyboard	19.95	24	November
42	4	North	3006	Wireless Keyboard	19.95	36	December
43	4	North	6050	PC Mouse	8.95	29	October
44	4	North	6050	PC Mouse	8.95	11	November
45	4	North	6050	PC Mouse	8.95	38	December
46	4	North	8500	Laptop	849.95	21	October
47	4	North	8500	Laptop	849.95	24	November
48	4	North	8500	Laptop	849.95	30	December
49	5	North	2005	24-inch Monitor	229	27	October
50	5	North	2005	24-inch Monitor	229	27	November
51	5	North	2005	24-inch Monitor	229	23	December
52	5	North	3006	Wireless Keyboard	19.95	80	October
53	5	North	3006	Wireless Keyboard	19.95	82	November
54	5	North	3006	Wireless Keyboard	19.95	75	December
55	5	North	6050	PC Mouse	8.95	65	October
56	5	North	6050	PC Mouse	8.95	24	November
57	5	North	6050	PC Mouse	8.95	55	December
58	5	North	8500	Laptop	849.95	55	October
59	5	North	8500	Laptop	849.95	57	November
60	5	North	8500	Laptop	849.95	45	December
61	6	East	2005	24-inch Monitor	229	24	October
62	6	East	2005	24-inch Monitor	229	86	November
63	6	East	2005	24-inch Monitor	229	56	December
64	6	East	3006	Wireless Keyboard	19.95	52	October
65	6	East	3006	Wireless Keyboard	19.95	58	November
66	6	East	3006	Wireless Keyboard	19.95	69	December
67	6	East	6050	PC Mouse	8.95	35	October
68	6	East	6050	PC Mouse	8.95	39	November
69	6	East	6050	PC Mouse	8.95	44	December
70	6	East	8500	Laptop	849.95	77	October
71	6	East	8500	Laptop	849.95	89	November
72	6	East	8500	Laptop	849.95	98	December
73	7	East	2005	24-inch Monitor	229	34	October
74	7	East	2005	24-inch Monitor	229	36	November
75	7	East	2005	24-inch Monitor	229	35	December
76	7	East	3006	Wireless Keyboard	19.95	49	October
77	7	East	3006	Wireless Keyboard	19.95	47	November
78	7	East	3006	Wireless Keyboard	19.95	48	December
79	7	East	6050	PC Mouse	8.95	45	October
80	7	East	6050	PC Mouse	8.95	42	November
81	7	East	6050	PC Mouse	8.95	45	December
82	7	East	8500	Laptop	849.95	55	October
83	7	East	8500	Laptop	849.95	57	November
84	7	East	8500	Laptop	849.95	55	December
85	8	East	2005	24-inch Monitor	229	18	October
86	8	East	2005	24-inch Monitor	229	17	November
87	8	East	2005	24-inch Monitor	229	23	December
88	8	East	3006	Wireless Keyboard	19.95	22	October
89	8	East	3006	Wireless Keyboard	19.95	18	November
90	8	East	3006	Wireless Keyboard	19.95	22	December
91	8	East	6050	PC Mouse	8.95	14	October
92	8	East	6050	PC Mouse	8.95	16	November
93	8	East	6050	PC Mouse	8.95	17	December
94	8	East	8500	Laptop	849.95	32	October
95	8	East	8500	Laptop	849.95	28	November
96	8	East	8500	Laptop	849.95	30	December
"""
data = data.replace("\t",",")

# Convert the string data into a pandas DataFrame
df = pd.read_csv(io.StringIO(data))

# Sort the data by 'Units Sold' in descending order and by 'ID' in ascending order in case of ties
sorted_df = df.sort_values(by=['Units Sold', 'ID'], ascending=[False, True])

# Display the sorted DataFrame
# Print only the first three and the last three rows of the sorted DataFrame with specific columns
print(sorted_df[['ID', 'Store No.', 'Units Sold']].head(3))  # First three rows
print(sorted_df[['ID', 'Store No.', 'Units Sold']].tail(3))  # Last three rows

    ID  Store No.  Units Sold
71  72          6          98
70  71          6          89
61  62          6          86
    ID  Store No.  Units Sold
38  39          4           5
7    8          1           3
26  27          3           2

## Question 4

In [5]:
import pandas as pd
import io

# Input data as a string
data = """
Supplier	Order No.	Item No.	Item Description	Item Cost	Quantity	Cost per order
Hulkey Fasteners	Aug11001	1122	Airframe fasteners	$4.25	19,500	$82,875.00
Alum Sheeting	Aug11002	1243	Airframe fasteners	$4.25	10,000	$42,500.00
Fast-Tie Aerospace	Aug11003	5462	Shielded Cable/ft.	$1.05	23,000	$24,150.00
Fast-Tie Aerospace	Aug11004	5462	Shielded Cable/ft.	$1.05	21,500	$22,575.00
Steelpin Inc.	Aug11005	5319	Shielded Cable/ft.	$1.10	17,500	$19,250.00
Durrable Products	Aug11008	7258	Pressure Gauge	$90.00	100	$9,000.00
Fast-Tie Aerospace	Aug11009	6321	O-Ring	$2.45	1,300	$3,185.00
Fast-Tie Aerospace	Aug11010	5462	Shielded Cable/ft.	$1.05	22,500	$23,625.00
Steelpin Inc.	Aug11011	5319	Shielded Cable/ft.	$1.10	18,100	$19,910.00
Hulkey Fasteners	Aug11013	9966	Hatch Decal	$0.75	500	$375.00
Steelpin Inc.	Aug11014	5234	Electrical Connector	$1.65	4,500	$7,425.00
Alum Sheeting	Sep11002	5417	Control Panel	$255.00	406	$103,530.00
Hulkey Fasteners	Sep11003	3166	Electrical Connector	$1.25	5,500	$6,875.00
Steelpin Inc.	Sep11004	5234	Electrical Connector	$1.65	4,850	$8,002.50
Steelpin Inc.	Sep11005	4312	Bolt-nut package	$3.75	4,150	$15,562.50
Hulkey Fasteners	Sep11006	1122	Airframe fasteners	$4.25	15,500	$65,875.00
Alum Sheeting	Sep11008	1243	Airframe fasteners	$4.25	9,000	$38,250.00
Durrable Products	Sep11009	7258	Pressure Gauge	$90.00	120	$10,800.00
Steelpin Inc.	Sep11010	5234	Electrical Connector	$1.65	4,750	$7,837.50
Durrable Products	Sep11011	5454	Control Panel	$220.00	550	$121,000.00
"""

data = data.replace(",","").replace("\t",",").replace("$","")

# Convert the string data into a pandas DataFrame
df = pd.read_csv(io.StringIO(data))

# Perform Pareto analysis
# Sort by 'Cost per order' in descending order
df_sorted = df.sort_values(by='Cost per order', ascending=False)

# Calculate cumulative cost
df_sorted['Cumulative Cost'] = df_sorted['Cost per order'].cumsum()

# Calculate total cost
total_cost = df_sorted['Cost per order'].sum()

# Calculate cumulative percentage of cost
df_sorted['Cumulative % Cost'] = (df_sorted['Cumulative Cost'] / total_cost) * 100

# Calculate cumulative percentage of orders
df_sorted['Cumulative % Orders'] = (df_sorted.index + 1) / len(df_sorted) * 100
# Sort the data in ascending order of the 'Cumulative % Orders'


# Format the Cumulative Cost, Cumulative % Cost, and Cumulative % Orders to two decimal places
df_sorted['Cumulative Cost'] = df_sorted['Cumulative Cost'].round(2)
df_sorted['Cumulative % Cost'] = df_sorted['Cumulative % Cost'].round(2)
df_sorted['Cumulative % Orders'] = df_sorted['Cumulative % Orders'].round(2)

# Display the formatted Pareto analysis DataFrame
print(df_sorted[['Cumulative Cost', 'Cumulative % Cost', 'Cumulative % Orders']])

    Cumulative Cost  Cumulative % Cost  Cumulative % Orders
19         121000.0              19.13                100.0
11         224530.0              35.49                 60.0
0          307405.0              48.59                  5.0
15         373280.0              59.01                 80.0
1          415780.0              65.73                 10.0
16         454030.0              71.77                 85.0
2          478180.0              75.59                 15.0
7          501805.0              79.32                 40.0
3          524380.0              82.89                 20.0
8          544290.0              86.04                 45.0
4          563540.0              89.08                 25.0
14         579102.5              91.54                 75.0
17         589902.5              93.25                 90.0
5          598902.5              94.67                 30.0
13         606905.0              95.94                 70.0
18         614742.5              97.18                 95.0
10         622167.5              98.35                 55.0
12         629042.5              99.44                 65.0
6          632227.5              99.94                 35.0
9          632602.5             100.00                 50.0

## QUESTION 5

In [6]:
import pandas as pd
import io

# Input data as a string
data = """
Order Index	Supplier	Order No.	Item No.	Item Description	Item Cost	Quantity	Cost per order	A/P Terms (Months)	Order Date	Arrival Date
1	Hulkey Fasteners	Aug11001	1122	Airframe fasteners	$4.25	19,500	$82,875.00	30	08/05/11	08/13/11
2	Alum Sheeting	Aug11002	1243	Airframe fasteners	$4.25	10,000	$42,500.00	30	08/08/11	08/14/11
3	Fast-Tie Aerospace	Aug11003	5462	Shielded Cable/ft.	$1.05	23,000	$24,150.00	30	08/10/11	08/15/11
4	Steelpin Inc.	Aug11005	5319	Shielded Cable/ft.	$1.10	17,500	$19,250.00	30	08/20/11	08/31/11
5	Fast-Tie Aerospace	Aug11006	5462	Shielded Cable/ft.	$1.05	22,500	$23,625.00	30	08/20/11	08/26/11
6	Steelpin Inc.	Aug11007	4312	Bolt-nut package	$3.75	4,250	$15,937.50	30	08/25/11	09/01/11
7	Durrable Products	Aug11008	7258	Pressure Gauge	$90.00	100	$9,000.00	45	08/25/11	08/28/11
8	Fast-Tie Aerospace	Aug11009	6321	O-Ring	$2.45	1,300	$3,185.00	30	08/25/11	09/04/11
9	Fast-Tie Aerospace	Aug11010	5462	Shielded Cable/ft.	$1.05	22,500	$23,625.00	30	08/25/11	09/02/11
10	Hulkey Fasteners	Aug11013	9966	Hatch Decal	$0.75	500	$375.00	30	08/25/11	08/31/11
11	Steelpin Inc.	Aug11014	5234	Electrical Connector	$1.65	4,500	$7,425.00	30	08/28/11	09/05/11
12	Alum Sheeting	Sep11002	5417	Control Panel	$255.00	406	$103,530.00	30	09/01/11	09/10/11
13	Hulkey Fasteners	Sep11003	3166	Electrical Connector	$1.25	5,500	$6,875.00	30	09/01/11	09/06/11
14	Steelpin Inc.	Sep11005	4312	Bolt-nut package	$3.75	4,150	$15,562.50	30	09/03/11	09/11/11
15	Hulkey Fasteners	Sep11006	1122	Airframe fasteners	$4.25	15,500	$65,875.00	30	09/04/11	09/12/11
16	Spacetime Technologies	Sep11007	4111	Bolt-nut package	$3.55	4,800	$17,040.00	25	09/05/11	09/20/11
17	Alum Sheeting	Sep11008	1243	Airframe fasteners	$4.25	9,000	$38,250.00	30	09/05/11	09/12/11
18	Durrable Products	Sep11009	7258	Pressure Gauge	$90.00	120	$10,800.00	45	09/05/11	09/09/11
19	Steelpin Inc.	Sep11010	5234	Electrical Connector	$1.65	4,750	$7,837.50	30	09/05/11	09/13/11
20	Durrable Products	Sep11011	5454	Control Panel	$220.00	550	$121,000.00	45	09/05/11	09/11/11
"""

data = data.replace(",","").replace("\t",",")
# Convert the string data into a pandas DataFrame
df = pd.read_csv(io.StringIO(data))

# a. Extract all orders for control panels
control_panel_orders = df[df['Item Description'] == 'Control Panel']

# b. Extract all orders for quantities less than 500 units
orders_less_than_500 = df[df['Quantity'] < 500]

# c. Extract all orders for control panels with quantities less than 500 units
control_panel_less_than_500 = control_panel_orders[control_panel_orders['Quantity'] < 500]

# Display the results
print("a. Orders for Control Panels:\n", control_panel_orders['Order Index'].tolist())
print("\nb. Orders for Quantities Less than 500 Units:\n", orders_less_than_500['Order Index'].tolist())
print("\nc. Orders for Control Panels with Quantities Less than 500 Units:\n", control_panel_less_than_500['Order Index'].tolist())

a. Orders for Control Panels:
 [12, 20]

b. Orders for Quantities Less than 500 Units:
 [7, 12, 18]

c. Orders for Control Panels with Quantities Less than 500 Units:
 [12]

# Question 6

In [7]:
import pandas as pd
import io

# Input data as a string
data = """
Loan Purpose	Checking	Savings	Months Customer	Months Employed	Marital Status	Job	Credit Risk
Small Appliance	  0	713	13	12	Single	Unskilled	Low
Furniture	  0	1,242	25	0	Divorced	Skilled	High
New Car	  0	385	19	119	Single	Management	High
Furniture	622	362	13	14	Single	Unskilled	High
Education	975	4,804	40	45	Single	Skilled	Low
Furniture	2,839	  0	11	13	Married	Skilled	Low
New Car	  0	238	13	16	Married	Unskilled	Low
Business	  0	523	14	2	Single	Unskilled	Low
Small Appliance	6,541	511	37	9	Single	Skilled	High
Small Appliance	973	  0	25	4	Divorced	Skilled	High
Business	  0	962	49	0	Single	Management	High
New Car	  0	3,411	11	15	Single	Unskilled	Low
Business	326	587	10	14	Married	Skilled	Low
New Car	  0	828	25	63	Single	Skilled	High
New Car	392	232	13	26	Single	Unskilled	Low
Used Car	  0	126	31	8	Divorced	Management	Low
Furniture	656	744	49	4	Divorced	Skilled	High
New Car	706	685	13	33	Single	Skilled	Low
Repairs	214	  0	28	116	Single	Skilled	Low
Education	299	12,435	7	2	Divorced	Skilled	High
"""

data = data.replace(",","").replace("\t",",")

# Convert the string data into a pandas DataFrame
df = pd.read_csv(io.StringIO(data))

# Compute the combined checking and savings account balance
df['Combined Checking and Savings'] = df['Checking'] + df['Savings']

# Sort the records by 'Months Customer' in descending order
df_sorted = df.sort_values(by='Months Customer', ascending=False)

# Select relevant columns for display
sorted_data = df_sorted[['Loan Purpose', 'Checking', 'Savings', 'Months Customer', 'Combined Checking and Savings']]

# Display each row of the sorted DataFrame with formatted columns for better organization
print(f"{'Loan Purpose':<20} {'Checking':<10} {'Savings':<10} {'Months Customer':<20} {'Combined Checking and Savings':<30}")

# Print each row with alignment
for index, row in sorted_data.iterrows():
    print(f"{row['Loan Purpose']:<20} {row['Checking']:<10} {row['Savings']:<10} {row['Months Customer']:<20} {row['Combined Checking and Savings']:<30.2f}")

Loan Purpose         Checking   Savings    Months Customer      Combined Checking and Savings
Business             0          962        49                   962.00
Furniture            656        744        49                   1400.00
Education            975        4804       40                   5779.00
Small Appliance      6541       511        37                   7052.00
Used Car             0          126        31                   126.00
Repairs              214        0          28                   214.00
New Car              0          828        25                   828.00
Small Appliance      973        0          25                   973.00
Furniture            0          1242       25                   1242.00
New Car              0          385        19                   385.00
Business             0          523        14                   523.00
New Car              706        685        13                   1391.00
New Car              392        232        13                   624.00
Small Appliance      0          713        13                   713.00
New Car              0          238        13                   238.00
Furniture            622        362        13                   984.00
New Car              0          3411       11                   3411.00
Furniture            2839       0          11                   2839.00
Business             326        587        10                   913.00
Education            299        12435      7                    12734.00

In [8]:
# Separate customers with greater than 24 months and less than or equal to 24 months association with the bank
greater_than_24_months = df[df['Months Customer'] > 24]
less_than_or_equal_24_months = df[df['Months Customer'] <= 24]


# Calculate the average combined checking and savings for both groups
avg_greater_24_months = greater_than_24_months['Combined Checking and Savings'].mean()
avg_less_equal_24_months = less_than_or_equal_24_months['Combined Checking and Savings'].mean()


print(round(avg_greater_24_months,2))
print(round(avg_less_equal_24_months,2))

2064.0
2250.45

In [9]:
# Sort data by Combined Checking and Savings in descending order
df_sorted_pareto = df.sort_values(by='Combined Checking and Savings', ascending=False)

# Calculate the percentage and cumulative percentage of Combined Checking and Savings
df_sorted_pareto['% of Total'] = df_sorted_pareto['Combined Checking and Savings'] / df_sorted_pareto['Combined Checking and Savings'].sum() * 100
df_sorted_pareto['Cumulative %'] = df_sorted_pareto['% of Total'].cumsum()

# Calculate the cumulative percentage of customers
df_sorted_pareto['Cumulative % Customers'] = (df_sorted_pareto.reset_index().index + 1) / len(df_sorted_pareto) * 100

# Select and format relevant columns for the Pareto analysis table
pareto_table_pandas = df_sorted_pareto[['Combined Checking and Savings', '% of Total', 'Cumulative %', 'Cumulative % Customers']].round(2)

# Display the Pareto analysis table
pareto_table_pandas_output = pareto_table_pandas.to_string(index=False)

# Print the Pareto analysis table
print("Pareto Analysis Table (Pandas Only):")
print(pareto_table_pandas_output)

Pareto Analysis Table (Pandas Only):
 Combined Checking and Savings  % of Total  Cumulative %  Cumulative % Customers
                         12734       29.39         29.39                     5.0
                          7052       16.27         45.66                    10.0
                          5779       13.34         59.00                    15.0
                          3411        7.87         66.87                    20.0
                          2839        6.55         73.42                    25.0
                          1400        3.23         76.65                    30.0
                          1391        3.21         79.86                    35.0
                          1242        2.87         82.73                    40.0
                           984        2.27         85.00                    45.0
                           973        2.25         87.25                    50.0
                           962        2.22         89.47                    55.0
                           913        2.11         91.57                    60.0
                           828        1.91         93.49                    65.0
                           713        1.65         95.13                    70.0
                           624        1.44         96.57                    75.0
                           523        1.21         97.78                    80.0
                           385        0.89         98.67                    85.0
                           238        0.55         99.22                    90.0
                           214        0.49         99.71                    95.0
                           126        0.29        100.00                   100.0

In [11]:
import warnings
warnings.filterwarnings("ignore")
# Filter the records for new-car loans
new_car_loans = df[df['Loan Purpose'] == 'New Car']

# Create a table-like structure to match the uploaded image
new_car_summary = new_car_loans[['Loan Purpose', 'Savings', 'Marital Status']]

# Count the number of individuals with new-car loans by marital status
marital_status_counts = new_car_summary['Marital Status'].value_counts()

# Fill in the counts for Single, Married, and Divorced
new_car_summary['Single count'] = new_car_summary['Marital Status'].apply(lambda x: 1 if x == 'Single' else 0)
new_car_summary['Married count'] = new_car_summary['Marital Status'].apply(lambda x: 1 if x == 'Married' else 0)
new_car_summary['Divorced count'] = new_car_summary['Marital Status'].apply(lambda x: 1 if x == 'Divorced' else 0)

# Display the resulting table
new_car_summary

,Loan Purpose,Savings,Marital Status,Single count,Married count,Divorced count
2,New Car,385,Single,1,0,0
6,New Car,238,Married,0,1,0
11,New Car,3411,Single,1,0,0
13,New Car,828,Single,1,0,0
14,New Car,232,Single,1,0,0
17,New Car,685,Single,1,0,0

In [12]:
import warnings
warnings.filterwarnings("ignore")
#  Filter the records for individuals employed less than 12 months
less_than_12_months = df[df['Months Employed'] < 12]

# Create a table-like structure to match the uploaded image
credit_risk_summary = less_than_12_months[['Loan Purpose', 'Months Employed', 'Marital Status', 'Credit Risk']]

# Count the number of individuals by credit risk
credit_risk_summary['High Count'] = credit_risk_summary['Credit Risk'].apply(lambda x: 1 if x == 'High' else 0)
credit_risk_summary['Low Count'] = credit_risk_summary['Credit Risk'].apply(lambda x: 1 if x == 'Low' else 0)

# Sort the summary by Months Employed in ascending order
credit_risk_summary_sorted = credit_risk_summary.sort_values(by='Months Employed', ascending=True)

# Display the sorted table
credit_risk_summary_sorted

,Loan Purpose,Months Employed,Marital Status,Credit Risk,High Count,Low Count
1,Furniture,0,Divorced,High,1,0
10,Business,0,Single,High,1,0
7,Business,2,Single,Low,0,1
19,Education,2,Divorced,High,1,0
9,Small Appliance,4,Divorced,High,1,0
16,Furniture,4,Divorced,High,1,0
15,Used Car,8,Divorced,Low,0,1
8,Small Appliance,9,Single,High,1,0

## Question 7

In the accompanying credit risk​ data, use​ Excel's database functions to find the average amount of savings for each of the situations listed.

a. All new car loans obtained for single females

b. All furniture loans obtained for single individuals who rent

c. All education loans obtained by unskilled workers

d. All used car loans obtained by individuals who are unemployed or employed 12 months or less

e. All car loans​ (new or​ used) obtained by males who have been employed at least 36 months

In [13]:
import pandas as pd

# Convert the provided string data into a dictionary format

# String data
data_string = """
Recipient	Loan Purpose	Checking	Savings	Months Customer	Months Employed	Sex	Marital Status	Age	Housing	Years	Job	Credit Risk
1	Used Car	$0	$0	11	4	F	Divorced	30	Rent	4	Skilled	Low
2	Education	$977	$458	10	61	F	Divorced	33	Own	3	Management	High
3	Education	$0	$122	13	22	M	Single	39	Rent	4	Unskilled	High
4	Furniture	$0	$0	13	94	M	Single	48	Rent	4	Skilled	Low
5	New Car	$0	$384	19	119	M	Single	38	Own	4	Management	High
6	New Car	$0	$821	25	63	M	Single	44	Own	1	Skilled	High
7	New Car	$19,766	$2,122	11	54	F	Divorced	47	Other	4	Unskilled	High
8	Furniture	$0	$977	25	48	M	Single	22	Rent	4	Skilled	High
9	Education	$522	$380	10	66	M	Single	63	Own	4	Unskilled	Low
10	Used Car	$0	$977	49	81	F	Divorced	57	Other	4	Unskilled	High
11	Used Car	$0	$13,268	7	0	F	Divorced	22	Rent	2	Unemployed	Low
12	Used Car	$0	$0	19	58	M	Single	50	Other	4	Skilled	High
13	Furniture	$0	$458	11	13	M	Single	24	Rent	2	Unskilled	High
14	Furniture	$757	$204	25	36	M	Divorced	42	Own	3	Skilled	High
15	Education	$1,257	$0	10	65	F	Divorced	40	Rent	4	Unskilled	Low
"""

# Convert the string data to dictionary format
data_lines = data_string.strip().split('\n')
headers = data_lines[0].split('\t')
data_dict = {header: [] for header in headers}

for line in data_lines[1:]:
    values = line.split('\t')
    for i, value in enumerate(values):
        # Remove $ sign for numeric conversion
        if headers[i] in ['Checking', 'Savings']:
            value = value.replace('$', '').replace(',', '')
        data_dict[headers[i]].append(value)

# Convert the data into a pandas DataFrame
df = pd.DataFrame(data_dict)

# Convert appropriate columns to numeric
df['Savings'] = pd.to_numeric(df['Savings'], errors='coerce')
df['Months Employed'] = pd.to_numeric(df['Months Employed'], errors='coerce')

# Calculating for each situation:

# a. Average amount of savings for all new car loans obtained for single females
new_car_single_females = df[(df['Loan Purpose'] == 'New Car') & (df['Sex'] == 'F') & (df['Marital Status'] == 'Single')]
avg_savings_a = new_car_single_females['Savings'].mean()

# b. Average amount of savings for all furniture loans obtained for single individuals who rent
furniture_single_renters = df[(df['Loan Purpose'] == 'Furniture') & (df['Marital Status'] == 'Single') & (df['Housing'] == 'Rent')]
avg_savings_b = furniture_single_renters['Savings'].mean()

# c. Average amount of savings for all education loans obtained by unskilled workers
education_unskilled_workers = df[(df['Loan Purpose'] == 'Education') & (df['Job'] == 'Unskilled')]
avg_savings_c = education_unskilled_workers['Savings'].mean()

# d. Average amount of savings for all used car loans obtained by individuals who are unemployed or employed 12 months or less
used_car_unemployed_or_12_months = df[(df['Loan Purpose'] == 'Used Car') & ((df['Job'] == 'Unemployed') | (df['Months Employed'] <= 12))]
avg_savings_d = used_car_unemployed_or_12_months['Savings'].mean()

# e. Average amount of savings for all car loans (new or used) obtained by males who have been employed at least 36 months
car_loans_males_36_months = df[((df['Loan Purpose'] == 'New Car') | (df['Loan Purpose'] == 'Used Car')) & (df['Sex'] == 'M') & (df['Months Employed'] >= 36)]
avg_savings_e = car_loans_males_36_months['Savings'].mean()

# Print the average savings with formatted output
print(f"a. Average savings for new car loans obtained for single females: {avg_savings_a if not pd.isna(avg_savings_a) else 'No recipients correspond to new car loans obtained for single females.'}")
print(f"b. Average savings for furniture loans obtained for single individuals who rent: ${avg_savings_b:.2f}")
print(f"c. Average savings for education loans obtained by unskilled workers: ${avg_savings_c:.2f}")
print(f"d. Average savings for used car loans obtained by individuals who are unemployed or employed 12 months or less: ${avg_savings_d:.2f}")
print(f"e. Average savings for car loans (new or used) obtained by males who have been employed at least 36 months: ${avg_savings_e:.2f}")

a. Average savings for new car loans obtained for single females: No recipients correspond to new car loans obtained for single females.
b. Average savings for furniture loans obtained for single individuals who rent: $478.33
c. Average savings for education loans obtained by unskilled workers: $167.33
d. Average savings for used car loans obtained by individuals who are unemployed or employed 12 months or less: $6634.00
e. Average savings for car loans (new or used) obtained by males who have been employed at least 36 months: $401.67

## QUESTION 8

### PART A
=MATCH(G2, A4:A23, 0)

In [15]:
# Create a sample dataset for S&P 500 data
# Original data in string format
data_string = """
Day (April to May 2013)	Open	High	Low	Close
21	1666.20	1674.93	1662.67	1669.16
22	1669.39	1687.18	1648.86	1655.35
23	1651.62	1655.50	1635.53	1650.51
24	1646.67	1649.78	1636.88	1649.60
28	1652.63	1674.21	1652.63	1660.06
29	1656.57	1656.57	1640.05	1648.36
30	1649.14	1661.91	1648.61	1654.41
31	1652.13	1658.99	1630.74	1630.74
3	1631.71	1640.42	1622.72	1640.42
4	1640.73	1646.53	1623.62	1631.38
5	1629.05	1629.31	1607.09	1608.90
6	1609.29	1622.56	1598.23	1622.56
7	1625.27	1644.40	1625.27	1643.38
10	1644.67	1648.69	1639.26	1642.81
11	1638.64	1640.13	1622.92	1626.13
12	1629.94	1637.71	1610.92	1612.52
13	1612.15	1639.25	1608.07	1636.36
14	1635.52	1640.80	1623.96	1626.73
17	1630.64	1646.50	1630.34	1639.04
18	1639.77	1654.19	1639.77	1651.81
"""

data_string = data_string.replace("\t",",")
# Split the data string into lines
lines = data_string.strip().split('\n')

# Extract the header and data
header = lines[0].split(',')
data_lines = lines[1:]

# Initialize a dictionary to store the data
data_sp500 = {key: [] for key in header}

# Iterate through each line and append the data to the dictionary
for line in data_lines:
    values = line.split(',')
    for i, key in enumerate(header):
        data_sp500[key].append(float(values[i]) if key != 'Day (April to May 2013)' else int(values[i]))

# Rename the key 'Day (April to May 2013)' to 'Day' to match the desired format
data_sp500['Day'] = data_sp500.pop('Day (April to May 2013)')



# Convert the data into a pandas DataFrame
df_sp500 = pd.DataFrame(data_sp500)

# Day to search
day_to_search = 11

# Use the MATCH equivalent in Python to find the index (row)
row_index = df_sp500.index[df_sp500['Day'] == day_to_search].tolist()[0] + 1  # Adding 2 to simulate Excel's row numbering (starting from 2 in this case)

row_index

15

### PART 2

=INDEX(A4:E23, G3, 5)

In [16]:
# Find the closing value on the day using the row index from part a
closing_value = df_sp500.loc[row_index - 1, 'Close']  # Adjusting back by 2 to match Python's zero-based indexing

print(closing_value)

1626.13

### PART 3 

=INDEX(A4:E23, MATCH(G2, A4:A23, 0), 5)

In [17]:
# Combine the equivalent of MATCH and INDEX functions in Python to find the closing value directly

# Use the MATCH equivalent to find the index
day_to_search = 7  # August 7, 2013
match_index = df_sp500.index[df_sp500['Day'] == day_to_search].tolist()[0]  # Get the index of the day

# Use the INDEX equivalent to get the closing value using the matched index
closing_value_combined = df_sp500.iloc[match_index]['Close']

print(closing_value_combined)

1643.38

## QUESTION 9


### PART A

| A                    | B                                                     |
|----------------------|-------------------------------------------------------|
| **Calorie Computation** |                                                       |
| **Gender**           | List or combo box and index function for selecting M or F |
| **Age**              | No form control                                        |
| **Height**           | No form control                                        |
| **Weight**           | No form control                                        |
| **Required Calories**|                                                       |

### PART B

Use Elimanation Method

## QUESTION 10

In [17]:
import pandas as pd

# Sample data based on the provided information
# Original data in string format
data_string = """
Gender	Carrier	Type	Usage	Signal Strength
M	AT&T	Smart	High	5
M	AT&T	Smart	High	4
M	AT&T	Smart	Very high	5
F	AT&T	Smart	Very high	5
M	Sprint	Smart	Very high	3
M	Sprint	Smart	Very high	3
F	Verizon	Smart	Very high	4
F	Verizon	Smart	Average	3
M	T-Mobile	Camera	Very high	2
M	AT&T	Camera	Very high	2
M	AT&T	Camera	Average	4
M	AT&T	Camera	Average	3
M	Other	Camera	Average	3
F	Other	Camera	Average	2
F	Verizon	Camera	Very high	4
M	AT&T	Basic	Low	4
M	Other	Basic	Low	2
F	Other	Basic	Average	2
M	Verizon	Basic	Low	3
M	Verizon	Basic	Average	4
"""

data_string = data_string.replace("\t",",")
# Split the data string into lines
lines = data_string.strip().split('\n')

# Extract the header and data
header = lines[0].split(',')
data_lines = lines[1:]

# Initialize a dictionary to store the data
data = {key: [] for key in header}

# Iterate through each line and append the data to the dictionary
for line in data_lines:
    values = line.split(',')
    for i, key in enumerate(header):
        data[key].append(values[i])


# Convert the data into a pandas DataFrame
df = pd.DataFrame(data)

# Correct Pivot Table creation
pivot_table = pd.pivot_table(df, index='Gender', columns='Carrier', values='Type', aggfunc='count', fill_value=0)

# Display the Pivot Table
pivot_table
# Create the Pivot Table with Grand Totals for both rows and columns
pivot_table_with_totals = pd.pivot_table(
    df,
    index='Gender',
    columns='Carrier',
    values='Type',
    aggfunc='count',
    fill_value=0,
    margins=True,  # Adds Grand Total for both rows and columns
    margins_name='Grand Total'  # Custom name for the grand totals
)

# Display the Pivot Table with Grand Totals
pivot_table_with_totals

Carrier      AT&T  Other  Sprint  T-Mobile  Verizon  Grand Total
Gender
F               1      2       0         0        3            6
M               7      2       2         1        2           14
Grand Total     8      4       2         1        5           20

### part B

In [19]:
# Create a Pivot Table to show the counts of Type versus Usage
pivot_table_type_usage = pd.pivot_table(
    df,
    index='Type',
    columns='Usage',
    values='Signal Strength',
    aggfunc='count',
    fill_value=0,
    margins=True,  # Adds Grand Total for both rows and columns
    margins_name='Grand Total'  # Custom name for the grand totals
)

# Display the Pivot Table
pivot_table_type_usage

Usage        Average  High  Low  Very high  Grand Total
Type
Basic              2     0    3          0            5
Camera             4     0    0          3            7
Smart              1     2    0          5            8
Grand Total        7     2    3          8           20

In [19]:
# Given data
cost_of_utility_per_year = 250000
generator_initial_cost = 300000
generator_operating_cost_per_year = 180000
years = 5
discount_rate = 0.14

# Function to calculate NPV
def calculate_npv(costs, discount_rate):
    npv = sum(cost / (1 + discount_rate) ** t for t, cost in enumerate(costs))
    return npv

# Costs for Local Utility Option (same cost each year)
utility_costs = [cost_of_utility_per_year] * years

# Costs for Generator Option (initial cost + operating costs for subsequent years)
generator_costs = [generator_initial_cost] + [generator_operating_cost_per_year] * (years - 1)

# Calculate NPVs
npv_utility = calculate_npv(utility_costs, discount_rate)
npv_generator = calculate_npv(generator_costs, discount_rate)

npv_utility, npv_generator, min(npv_utility, npv_generator)  # The lower NPV

(978428.076124661, 824468.2148097559, 824468.2148097559)