# QUIZ 1

In [12]:
import pandas as pd
import io

text = """
ID	Store No.	Sales Region	Item No.	Item Description	Unit Price	Units Sold	Week Ending
1	1	South	2005	24-inch Monitor	229	28	October
2	1	South	2005	24-inch Monitor	229	30	November
3	1	South	2005	24-inch Monitor	229	9	December
4	1	South	3006	Wireless Keyboard	19.95	30	October
5	1	South	3006	Wireless Keyboard	19.95	35	November
6	1	South	3006	Wireless Keyboard	19.95	39	December
7	1	South	6050	PC Mouse	8.95	28	October
8	1	South	6050	PC Mouse	8.95	3	November
9	1	South	6050	PC Mouse	8.95	38	December
10	1	South	8500	Laptop	849.95	26	October
11	1	South	8500	Laptop	849.95	27	November
12	1	South	8500	Laptop	849.95	33	December
13	2	South	2005	24-inch Monitor	229	8	October
14	2	South	2005	24-inch Monitor	229	8	November
15	2	South	2005	24-inch Monitor	229	10	December
16	2	South	3006	Wireless Keyboard	19.95	8	October
17	2	South	3006	Wireless Keyboard	19.95	8	November
18	2	South	3006	Wireless Keyboard	19.95	8	December
19	2	South	6050	PC Mouse	8.95	9	October
20	2	South	6050	PC Mouse	8.95	8	November
21	2	South	6050	PC Mouse	8.95	8	December
22	2	South	8500	Laptop	849.95	18	October
23	2	South	8500	Laptop	849.95	18	November
24	2	South	8500	Laptop	849.95	20	December
25	3	South	2005	24-inch Monitor	229	38	October
26	3	South	2005	24-inch Monitor	229	30	November
27	3	South	2005	24-inch Monitor	229	3	December
28	3	South	3006	Wireless Keyboard	19.95	30	October
29	3	South	3006	Wireless Keyboard	19.95	32	November
30	3	South	3006	Wireless Keyboard	19.95	31	December
31	3	South	6050	PC Mouse	8.95	25	October
32	3	South	6050	PC Mouse	8.95	5	November
33	3	South	6050	PC Mouse	8.95	26	December
34	3	South	8500	Laptop	849.95	28	October
35	3	South	8500	Laptop	849.95	27	November
36	3	South	8500	Laptop	849.95	29	December
37	4	North	2005	24-inch Monitor	229	18	October
38	4	North	2005	24-inch Monitor	229	20	November
39	4	North	2005	24-inch Monitor	229	4	December
40	4	North	3006	Wireless Keyboard	19.95	12	October
41	4	North	3006	Wireless Keyboard	19.95	24	November
42	4	North	3006	Wireless Keyboard	19.95	36	December
43	4	North	6050	PC Mouse	8.95	29	October
44	4	North	6050	PC Mouse	8.95	11	November
45	4	North	6050	PC Mouse	8.95	38	December
46	4	North	8500	Laptop	849.95	21	October
47	4	North	8500	Laptop	849.95	24	November
48	4	North	8500	Laptop	849.95	30	December
49	5	North	2005	24-inch Monitor	229	27	October
50	5	North	2005	24-inch Monitor	229	26	November
51	5	North	2005	24-inch Monitor	229	23	December
52	5	North	3006	Wireless Keyboard	19.95	80	October
53	5	North	3006	Wireless Keyboard	19.95	82	November
54	5	North	3006	Wireless Keyboard	19.95	75	December
55	5	North	6050	PC Mouse	8.95	65	October
56	5	North	6050	PC Mouse	8.95	24	November
57	5	North	6050	PC Mouse	8.95	55	December
58	5	North	8500	Laptop	849.95	55	October
59	5	North	8500	Laptop	849.95	57	November
60	5	North	8500	Laptop	849.95	47	December
61	6	East	2005	24-inch Monitor	229	24	October
62	6	East	2005	24-inch Monitor	229	85	November
63	6	East	2005	24-inch Monitor	229	56	December
64	6	East	3006	Wireless Keyboard	19.95	52	October
65	6	East	3006	Wireless Keyboard	19.95	58	November
66	6	East	3006	Wireless Keyboard	19.95	69	December
67	6	East	6050	PC Mouse	8.95	35	October
68	6	East	6050	PC Mouse	8.95	39	November
69	6	East	6050	PC Mouse	8.95	44	December
70	6	East	8500	Laptop	849.95	76	October
71	6	East	8500	Laptop	849.95	88	November
72	6	East	8500	Laptop	849.95	99	December
73	7	East	2005	24-inch Monitor	229	34	October
74	7	East	2005	24-inch Monitor	229	36	November
75	7	East	2005	24-inch Monitor	229	35	December
76	7	East	3006	Wireless Keyboard	19.95	49	October
77	7	East	3006	Wireless Keyboard	19.95	47	November
78	7	East	3006	Wireless Keyboard	19.95	48	December
79	7	East	6050	PC Mouse	8.95	45	October
80	7	East	6050	PC Mouse	8.95	40	November
81	7	East	6050	PC Mouse	8.95	45	December
82	7	East	8500	Laptop	849.95	55	October
83	7	East	8500	Laptop	849.95	57	November
84	7	East	8500	Laptop	849.95	55	December
85	8	East	2005	24-inch Monitor	229	18	October
86	8	East	2005	24-inch Monitor	229	17	November
87	8	East	2005	24-inch Monitor	229	23	December
88	8	East	3006	Wireless Keyboard	19.95	22	October
89	8	East	3006	Wireless Keyboard	19.95	18	November
90	8	East	3006	Wireless Keyboard	19.95	21	December
91	8	East	6050	PC Mouse	8.95	14	October
92	8	East	6050	PC Mouse	8.95	16	November
93	8	East	6050	PC Mouse	8.95	17	December
94	8	East	8500	Laptop	849.95	32	October
95	8	East	8500	Laptop	849.95	28	November
96	8	East	8500	Laptop	849.95	30	December
"""


data = text.replace("\t", ",")

# Convert the string data into a pandas DataFrame
df = pd.read_csv(io.StringIO(data))

# a. The total number of units sold
total_units_sold = df['Units Sold'].sum()

# b. The total number of units sold in the South region
total_units_sold_south = df[df['Sales Region'] == 'South']['Units Sold'].sum()

# c. The total number of units sold in December
total_units_sold_december = df[df['Week Ending'] == 'December']['Units Sold'].sum()

print(f"The total number of units sold is {total_units_sold}")

print(f"The total number of units sold in the South region is {total_units_sold_south}")

print(f"The total number of units sold in December is  {total_units_sold_december}")

The total number of units sold is 3171
The total number of units sold in the South region is 761
The total number of units sold in December is  1104

# QUIZ 2

The accompanying table provides data for 15 samples of an important measurement in the manufacturing process for medical syringes. Define range names for each of the samples and then use these range names in formulas to find the average value for each sample.

In [13]:
import numpy as np
import pandas as pd

# Sample data provided
data_str = """														
Sample 1	4.9600	4.9460	4.9500	4.9560	4.9480
Sample 2	4.9580	4.9270	4.9350	4.9400	4.9540
Sample 3	4.9710	4.9290	4.9650	4.9520	4.9310
Sample 4	4.9400	4.9820	4.9650	4.9530	4.9650
Sample 5	4.9640	4.9500	4.9530	4.9620	4.9520
Sample 6	4.9690	4.9510	4.9550	4.9660	4.9510
Sample 7	4.9600	4.9440	4.9570	4.9480	4.9520
Sample 8	4.9690	4.9490	4.9630	4.9520	4.9620
Sample 9	4.9840	4.9280	4.9600	4.9430	4.9640
Sample 10	4.9700	4.9340	4.9610	4.9400	4.9550
Sample 11	4.9750	4.9590	4.9620	4.9710	4.9760
Sample 12	4.9450	4.9770	4.9500	4.9540	4.9510
Sample 13	4.9760	4.9640	4.9700	4.9680	4.9680
Sample 14	4.9700	4.9540	4.9640	4.9680	4.9690
Sample 15	4.9820	4.9620	4.9680	4.9750	4.9660
"""

# Split the input string into lines and process each line
lines = data_str.strip().split("\n")

# Initialize an empty dictionary to store the result
data = {}

# Process each line
for line in lines:
    parts = line.split("\t")
    sample_name = parts[0]  # Get the sample name
    observations = list(map(float, parts[1:]))  # Convert the rest to floats
    data[sample_name] = observations  # Add to the dictionary

# Output the dictionary
print(data)


# Create a DataFrame
df = pd.DataFrame(data)

# Calculate the average for each sample
average_values = df.mean()

average_values

{'Sample 1': [4.96, 4.946, 4.95, 4.956, 4.948], 'Sample 2': [4.958, 4.927, 4.935, 4.94, 4.954], 'Sample 3': [4.971, 4.929, 4.965, 4.952, 4.931], 'Sample 4': [4.94, 4.982, 4.965, 4.953, 4.965], 'Sample 5': [4.964, 4.95, 4.953, 4.962, 4.952], 'Sample 6': [4.969, 4.951, 4.955, 4.966, 4.951], 'Sample 7': [4.96, 4.944, 4.957, 4.948, 4.952], 'Sample 8': [4.969, 4.949, 4.963, 4.952, 4.962], 'Sample 9': [4.984, 4.928, 4.96, 4.943, 4.964], 'Sample 10': [4.97, 4.934, 4.961, 4.94, 4.955], 'Sample 11': [4.975, 4.959, 4.962, 4.971, 4.976], 'Sample 12': [4.945, 4.977, 4.95, 4.954, 4.951], 'Sample 13': [4.976, 4.964, 4.97, 4.968, 4.968], 'Sample 14': [4.97, 4.954, 4.964, 4.968, 4.969], 'Sample 15': [4.982, 4.962, 4.968, 4.975, 4.966]}

Sample 1     4.9520
Sample 2     4.9428
Sample 3     4.9496
Sample 4     4.9610
Sample 5     4.9562
Sample 6     4.9584
Sample 7     4.9522
Sample 8     4.9590
Sample 9     4.9558
Sample 10    4.9520
Sample 11    4.9686
Sample 12    4.9554
Sample 13    4.9692
Sample 14    4.9650
Sample 15    4.9706
dtype: float64

In [8]:
import pandas as pd
import io

# Input data as a string
data = """
Loan Purpose	Checking	Savings	Months Customer	Months Employed	Marital Status	Job	Credit Risk
Small Appliance	  0	713	13	12	Single	Unskilled	Low
Furniture	  0	1,255	25	0	Divorced	Skilled	High
New Car	  0	393	19	119	Single	Management	High
Furniture	637	345	13	14	Single	Unskilled	High
Education	976	4,779	40	45	Single	Skilled	Low
Furniture	2,925	  0	11	13	Married	Skilled	Low
New Car	  0	251	13	16	Married	Unskilled	Low
Business	  0	527	14	2	Single	Unskilled	Low
Small Appliance	6,589	492	37	9	Single	Skilled	High
Small Appliance	988	  0	25	4	Divorced	Skilled	High
Business	  0	997	49	0	Single	Management	High
New Car	  0	3,548	11	15	Single	Unskilled	Low
Business	346	575	10	14	Married	Skilled	Low
New Car	  0	825	25	63	Single	Skilled	High
New Car	406	228	13	26	Single	Unskilled	Low
Used Car	  0	138	31	8	Divorced	Management	Low
Furniture	656	747	49	4	Divorced	Skilled	High
New Car	709	683	13	33	Single	Skilled	Low
Repairs	208	  0	28	116	Single	Skilled	Low
Education	285	12,466	7	2	Divorced	Skilled	High
"""

data = data.replace(",","").replace("\t",",")

# Convert the string data into a pandas DataFrame
df = pd.read_csv(io.StringIO(data))

# Compute the combined checking and savings account balance
df['Combined Checking and Savings'] = df['Checking'] + df['Savings']

# Sort the records by 'Months Customer' in descending order
df_sorted = df.sort_values(by='Months Customer', ascending=False)

# Select relevant columns for display
sorted_data = df_sorted[['Loan Purpose', 'Checking', 'Savings', 'Months Customer', 'Combined Checking and Savings']]

# Display each row of the sorted DataFrame with formatted columns for better organization
print(f"{'Loan Purpose':<20} {'Checking':<10} {'Savings':<10} {'Months Customer':<20} {'Combined Checking and Savings':<30}")

# Print each row with alignment
for index, row in sorted_data.iterrows():
    print(f"{row['Loan Purpose']:<20} {row['Checking']:<10} {row['Savings']:<10} {row['Months Customer']:<20} {row['Combined Checking and Savings']:<30.2f}")

Loan Purpose         Checking   Savings    Months Customer      Combined Checking and Savings
Business             0          997        49                   997.00
Furniture            656        747        49                   1403.00
Education            976        4779       40                   5755.00
Small Appliance      6589       492        37                   7081.00
Used Car             0          138        31                   138.00
Repairs              208        0          28                   208.00
New Car              0          825        25                   825.00
Small Appliance      988        0          25                   988.00
Furniture            0          1255       25                   1255.00
New Car              0          393        19                   393.00
Business             0          527        14                   527.00
New Car              709        683        13                   1392.00
New Car              406        228        13                   634.00
Small Appliance      0          713        13                   713.00
New Car              0          251        13                   251.00
Furniture            637        345        13                   982.00
New Car              0          3548       11                   3548.00
Furniture            2925       0          11                   2925.00
Business             346        575        10                   921.00
Education            285        12466      7                    12751.00

In [9]:
# Separate customers with greater than 24 months and less than or equal to 24 months association with the bank
greater_than_24_months = df[df['Months Customer'] > 24]
less_than_or_equal_24_months = df[df['Months Customer'] <= 24]


# Calculate the average combined checking and savings for both groups
avg_greater_24_months = greater_than_24_months['Combined Checking and Savings'].mean()
avg_less_equal_24_months = less_than_or_equal_24_months['Combined Checking and Savings'].mean()


print(round(avg_greater_24_months,2))
print(round(avg_less_equal_24_months,2))

2072.22
2276.09

In [10]:
# Sort data by Combined Checking and Savings in descending order
df_sorted_pareto = df.sort_values(by='Combined Checking and Savings', ascending=False)

# Calculate the percentage and cumulative percentage of Combined Checking and Savings
df_sorted_pareto['% of Total'] = df_sorted_pareto['Combined Checking and Savings'] / df_sorted_pareto['Combined Checking and Savings'].sum() * 100
df_sorted_pareto['Cumulative %'] = df_sorted_pareto['% of Total'].cumsum()

# Calculate the cumulative percentage of customers
df_sorted_pareto['Cumulative % Customers'] = (df_sorted_pareto.reset_index().index + 1) / len(df_sorted_pareto) * 100

# Select and format relevant columns for the Pareto analysis table
pareto_table_pandas = df_sorted_pareto[['Combined Checking and Savings', '% of Total', 'Cumulative %', 'Cumulative % Customers']].round(2)

# Display the Pareto analysis table
pareto_table_pandas_output = pareto_table_pandas.to_string(index=False)

# Print the Pareto analysis table
print("Pareto Analysis Table (Pandas Only):")
print(pareto_table_pandas_output)

Pareto Analysis Table (Pandas Only):
 Combined Checking and Savings  % of Total  Cumulative %  Cumulative % Customers
                         12751       29.19         29.19                     5.0
                          7081       16.21         45.40                    10.0
                          5755       13.17         58.57                    15.0
                          3548        8.12         66.69                    20.0
                          2925        6.70         73.39                    25.0
                          1403        3.21         76.60                    30.0
                          1392        3.19         79.78                    35.0
                          1255        2.87         82.66                    40.0
                           997        2.28         84.94                    45.0
                           988        2.26         87.20                    50.0
                           982        2.25         89.45                    55.0
                           921        2.11         91.56                    60.0
                           825        1.89         93.44                    65.0
                           713        1.63         95.08                    70.0
                           634        1.45         96.53                    75.0
                           527        1.21         97.73                    80.0
                           393        0.90         98.63                    85.0
                           251        0.57         99.21                    90.0
                           208        0.48         99.68                    95.0
                           138        0.32        100.00                   100.0

In [11]:
# Filter the records for new-car loans
new_car_loans = df[df['Loan Purpose'] == 'New Car']

# Create a table-like structure to match the uploaded image
new_car_summary = new_car_loans[['Loan Purpose', 'Savings', 'Marital Status']]

# Count the number of individuals with new-car loans by marital status
marital_status_counts = new_car_summary['Marital Status'].value_counts()

# Fill in the counts for Single, Married, and Divorced
new_car_summary['Single count'] = new_car_summary['Marital Status'].apply(lambda x: 1 if x == 'Single' else 0)
new_car_summary['Married count'] = new_car_summary['Marital Status'].apply(lambda x: 1 if x == 'Married' else 0)
new_car_summary['Divorced count'] = new_car_summary['Marital Status'].apply(lambda x: 1 if x == 'Divorced' else 0)

# Display the resulting table
new_car_summary

C:\Users\brett\AppData\Local\Temp\ipykernel_2248\355729876.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_car_summary['Single count'] = new_car_summary['Marital Status'].apply(lambda x: 1 if x == 'Single' else 0)
C:\Users\brett\AppData\Local\Temp\ipykernel_2248\355729876.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_car_summary['Married count'] = new_car_summary['Marital Status'].apply(lambda x: 1 if x == 'Married' else 0)
C:\Users\brett\AppData\Local\Temp\ipykernel_2248\355729876.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_car_summary['Divorced count'] = new_car_summary['Marital Status'].apply(lambda x: 1 if x == 'Divorced' else 0)

,Loan Purpose,Savings,Marital Status,Single count,Married count,Divorced count
2,New Car,393,Single,1,0,0
6,New Car,251,Married,0,1,0
11,New Car,3548,Single,1,0,0
13,New Car,825,Single,1,0,0
14,New Car,228,Single,1,0,0
17,New Car,683,Single,1,0,0

In [12]:
# Filter the records for individuals employed less than 12 months
less_than_12_months = df[df['Months Employed'] < 12]

# Create a table-like structure to match the uploaded image
credit_risk_summary = less_than_12_months[['Loan Purpose', 'Months Employed', 'Marital Status', 'Credit Risk']]

# Count the number of individuals by credit risk
credit_risk_summary['High Count'] = credit_risk_summary['Credit Risk'].apply(lambda x: 1 if x == 'High' else 0)
credit_risk_summary['Low Count'] = credit_risk_summary['Credit Risk'].apply(lambda x: 1 if x == 'Low' else 0)

# Sort the summary by Months Employed in ascending order
credit_risk_summary_sorted = credit_risk_summary.sort_values(by='Months Employed', ascending=True)

# Display the sorted table
credit_risk_summary_sorted

C:\Users\brett\AppData\Local\Temp\ipykernel_2248\3386002880.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  credit_risk_summary['High Count'] = credit_risk_summary['Credit Risk'].apply(lambda x: 1 if x == 'High' else 0)
C:\Users\brett\AppData\Local\Temp\ipykernel_2248\3386002880.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  credit_risk_summary['Low Count'] = credit_risk_summary['Credit Risk'].apply(lambda x: 1 if x == 'Low' else 0)

,Loan Purpose,Months Employed,Marital Status,Credit Risk,High Count,Low Count
1,Furniture,0,Divorced,High,1,0
10,Business,0,Single,High,1,0
7,Business,2,Single,Low,0,1
19,Education,2,Divorced,High,1,0
9,Small Appliance,4,Divorced,High,1,0
16,Furniture,4,Divorced,High,1,0
15,Used Car,8,Divorced,Low,0,1
8,Small Appliance,9,Single,High,1,0

In [2]:
import pandas as pd
from datetime import datetime

# Raw data input from the user
data = {
    "ID": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30],
    "Guest First Name": ["Barry", "Michael", "Kim", "Edward", "Thomas", "Paul", "Randall", "Calvin", "Homer", "David", "Buster", "Julia", 
                         "Samuel", "Arthur", "Darlene", "Carlyle", "Albert", "Charlene", "Everett", "Gerald", "Jamal", "Louis", "Nigel", 
                         "Peter", "Ronald", "Trista", "Valerie", "Walter", "Xavier", "Zachary"],
    "Guest Last Name": ["Lloyd", "Lunsford", "Kyuong", "Holt", "Collins", "Bodkin", "Battenburg", "Nowotney", "Gonzalez", "Sanchez", 
                        "Whisler", "Martines", "Kim", "Gottfried", "Shore", "Charleston", "Goldstone", "Tilson", "Chad", "Pittsfield", 
                        "Smith", "Paris", "Stratford", "Willington", "Cartier", "Leven", "Snell", "Acton", "Trezza", "Miller"],
    "Room": ["Hayes", "Cleveland", "Coolidge", "Washington", "Lincoln", "Coolidge", "Washington", "Lincoln", "Lincoln", "Jefferson",
             "Jackson", "Reagan", "Truman", "Garfield", "Arthur", "Quincy Adams", "Johnson", "Van Buren", "Madison", "Roosevelt", 
             "Tyler", "Jackson", "Eisenhower", "Grant", "Jefferson", "Eisenhower", "Adams", "Polk", "McKinley", "Washington"],
    "Room Type": ["Bay‐window", "Ocean", "Bay‐window", "Ocean", "Ocean", "Bay‐window", "Ocean", "Ocean", "Ocean", "Bay‐window", 
                  "Ocean", "Bay‐window", "Side", "Side", "Ocean", "Bay‐window", "Ocean", "Bay‐window", "Ocean", "Ocean", "Bay‐window",
                  "Ocean", "Ocean", "Ocean", "Bay‐window", "Ocean", "Bay‐window", "Side", "Side", "Ocean"],
    "Arrival Date": ["12/1/2014", "12/1/2014", "12/4/2014", "12/1/2014", "12/9/2014", "12/1/2014", "12/4/2014", "12/2/2014", "12/5/2014", 
                     "12/5/2014", "12/5/2014", "12/10/2014", "12/20/2014", "12/13/2014", "12/24/2014", "12/3/2014", "12/5/2014", "12/5/2014", 
                     "12/10/2014", "12/5/2014", "12/20/2014", "12/10/2014", "12/14/2014", "12/19/2014", "12/24/2014", "12/17/2014", 
                     "12/3/2014", "12/24/2014", "12/14/2014", "12/13/2014"],
    "Departure Date": ["12/4/2014", "12/9/2014", "12/7/2014", "12/3/2014", "12/13/2014", "12/3/2014", "12/12/2014", "12/4/2014", 
                       "12/7/2014", "12/7/2014", "12/8/2014", "12/15/2014", "12/30/2014", "12/15/2014", "12/31/2014", "12/6/2014", 
                       "12/7/2014", "12/7/2014", "12/14/2014", "12/7/2014", "12/23/2014", "12/14/2014", "12/16/2014", "12/21/2014", 
                       "12/28/2014", "12/20/2014", "12/6/2014", "12/31/2014", "12/17/2014", "12/16/2014"],
    "No of Guests": [2, 3, 1, 4, 2, 2, 2, 1, 5, 2, 2, 1, 3, 2, 5, 2, 3, 1, 2, 2, 2, 1, 2, 1, 4, 1, 1, 6, 2, 2],
    "Daily Rate ($)": [150.00, 112.50, 150.00, 325.00, 300.00, 150.00, 292.50, 300.00, 320.00, 175.00, 250.00, 150.00, 112.50, 125.00, 
                       198.00, 150.00, 250.00, 150.00, 275.00, 275.00, 150.00, 250.00, 200.00, 200.00, 175.00, 200.00, 150.00, 148.50, 
                       125.00, 325.00]
}

# Convert the data to a DataFrame
df = pd.DataFrame(data)

# Convert 'Arrival Date' and 'Departure Date' to datetime
df['Arrival Date'] = pd.to_datetime(df['Arrival Date'])
df['Departure Date'] = pd.to_datetime(df['Departure Date'])

# Calculate the number of days stayed
df['Num of Days Stayed'] = (df['Departure Date'] - df['Arrival Date']).dt.days

# Calculate the daily rate considering additional guests
df['Daily Rate Considering Num of Guests ($)'] = df['Daily Rate ($)'] + ((df['No of Guests'] - 2).clip(lower=0) * 19)

# Apply a 9% discount for stays of 7 days or more
df['Discounted Daily Rate ($)'] = df.apply(lambda row: row['Daily Rate Considering Num of Guests ($)'] * 0.91 
                                           if row['Num of Days Stayed'] >= 7 else row['Daily Rate Considering Num of Guests ($)'], axis=1)

# Calculate total revenue
df['Total Revenue ($)'] = df['Discounted Daily Rate ($)'] * df['Num of Days Stayed']

# Display the relevant DataFrame section
print(df[['ID', 'Guest First Name', 'Guest Last Name', 'Room', 'Num of Days Stayed', 'Daily Rate Considering Num of Guests ($)', 'Total Revenue ($)']])

    ID Guest First Name Guest Last Name          Room  Num of Days Stayed  \
0    1            Barry           Lloyd         Hayes                   3
1    2          Michael        Lunsford     Cleveland                   8
2    3              Kim          Kyuong      Coolidge                   3
3    4           Edward            Holt    Washington                   2
4    5           Thomas         Collins       Lincoln                   4
5    6             Paul          Bodkin      Coolidge                   2
6    7          Randall      Battenburg    Washington                   8
7    8           Calvin        Nowotney       Lincoln                   2
8    9            Homer        Gonzalez       Lincoln                   2
9   10            David         Sanchez     Jefferson                   2
10  11           Buster         Whisler       Jackson                   3
11  12            Julia        Martines        Reagan                   5
12  13           Samuel             Kim        Truman                  10
13  14           Arthur       Gottfried      Garfield                   2
14  15          Darlene           Shore        Arthur                   7
15  16          Carlyle      Charleston  Quincy Adams                   3
16  17           Albert       Goldstone       Johnson                   2
17  18         Charlene          Tilson     Van Buren                   2
18  19          Everett            Chad       Madison                   4
19  20           Gerald      Pittsfield     Roosevelt                   2
20  21            Jamal           Smith         Tyler                   3
21  22            Louis           Paris       Jackson                   4
22  23            Nigel       Stratford    Eisenhower                   2
23  24            Peter      Willington         Grant                   2
24  25           Ronald         Cartier     Jefferson                   4
25  26           Trista           Leven    Eisenhower                   3
26  27          Valerie           Snell         Adams                   3
27  28           Walter           Acton          Polk                   7
28  29           Xavier          Trezza      McKinley                   3
29  30          Zachary          Miller    Washington                   3

    Daily Rate Considering Num of Guests ($)  Total Revenue ($)
0                                      150.0            450.000
1                                      131.5            957.320
2                                      150.0            450.000
3                                      363.0            726.000
4                                      300.0           1200.000
5                                      150.0            300.000
6                                      292.5           2129.400
7                                      300.0            600.000
8                                      377.0            754.000
9                                      175.0            350.000
10                                     250.0            750.000
11                                     150.0            750.000
12                                     131.5           1196.650
13                                     125.0            250.000
14                                     255.0           1624.350
15                                     150.0            450.000
16                                     269.0            538.000
17                                     150.0            300.000
18                                     275.0           1100.000
19                                     275.0            550.000
20                                     150.0            450.000
21                                     250.0           1000.000
22                                     200.0            400.000
23                                     200.0            400.000
24                                     213.0            852.000
25                                     200.0            600.000
26                                     150.0            450.000
27                                     224.5           1430.065
28                                     125.0            375.000
29                                     325.0            975.000

In [7]:
import pandas as pd

# Original string data
data_string = """
Gender	Age Group	Preferred Color	Preferred Style	Purchase Influence
Male	19-25	Blue	Slim Fit	Price
Male	19-25	Blue	Slim Fit	Comfort
Female	19-25	Blue	Relaxed Fit	Comfort
Female	26-30	Black	Slim Fit	Brand
Female	18 and under	Blue	Slim Fit	Style
Male	19-25	Black	Straight‐Leg Fit	Quality
Female	18 and under	Gray	Slim Fit	Price
Female	26-30	Black	Classic Fit	Style
Male	Over 30	Blue	Slim Fit	Style
Male	Over 30	Blue	Classic Fit	Quality
Male	19-25	Blue	Slim Fit	Comfort
Female	26-30	Blue	Slim Fit	Comfort
Male	Over 30	Blue	Relaxed Fit	Comfort
Female	18 and under	Black	Slim Fit	Style
Male	26-30	Blue	Straight‐Leg Fit	Style
Female	Over 30	Black	Slim Fit	Comfort
Male	26-30	Blue	Slim Fit	Comfort
Male	19-25	Blue	Slim Fit	Quality
Female	18 and under	Black	Slim Fit	Style
Male	Over 30	Blue	Relaxed Fit	Style
Female	26-30	Blue	Classic Fit	Brand
Male	19-25	Blue	Classic Fit	Comfort
Male	26-30	Gray	Slim Fit	Price
Male	26-30	Blue	Straight‐Leg Fit	Price
Female	18 and under	Gray	Slim Fit	Quality
Female	Over 30	Gray	Relaxed Fit	Comfort
Male	18 and under	Black	Slim Fit	Brand
Female	26-30	Gray	Classic Fit	Brand
Male	19-25	Gray	Slim Fit	Comfort
Female	26-30	Gray	Straight‐Leg Fit	Comfort
"""

# Convert the string data into a list of dictionaries
rows = data_string.strip().split('\n')
headers = rows[0].split('\t')
data = [dict(zip(headers, row.split('\t'))) for row in rows[1:]]

# Convert to DataFrame
df = pd.DataFrame(data)

# Create pivot table
pivot_table = pd.pivot_table(df, index=['Gender', 'Age Group'], columns='Preferred Color', aggfunc='size', fill_value=0)

# Add Grand Total column
pivot_table['Grand Total'] = pivot_table.sum(axis=1)

# Add Grand Total row
grand_total_row = pivot_table.sum(axis=0).to_frame().T
grand_total_row.index = pd.MultiIndex.from_tuples([('Grand Total', '')])
pivot_table = pd.concat([pivot_table, grand_total_row])

# Display the pivot table
print(pivot_table)

Preferred Color           Black  Blue  Gray  Grand Total
Female      18 and under      2     1     2            5
            19-25             0     1     0            1
            26-30             2     2     2            6
            Over 30           1     0     1            2
Male        18 and under      1     0     0            1
            19-25             1     5     1            7
            26-30             0     3     1            4
            Over 30           0     4     0            4
Grand Total                   7    16     7           30

In [10]:
import pandas as pd
from tabulate import tabulate

# Original string data
data_string = """
Gender	Age Group	Preferred Color	Preferred Style	Purchase Influence
Male	19-25	Blue	Slim Fit	Price
Male	19-25	Blue	Slim Fit	Comfort
Female	19-25	Blue	Relaxed Fit	Comfort
Female	26-30	Black	Slim Fit	Brand
Female	18 and under	Blue	Slim Fit	Style
Male	19-25	Black	Straight‐Leg Fit	Quality
Female	18 and under	Gray	Slim Fit	Price
Female	26-30	Black	Classic Fit	Style
Male	Over 30	Blue	Slim Fit	Style
Male	Over 30	Blue	Classic Fit	Quality
Male	19-25	Blue	Slim Fit	Comfort
Female	26-30	Blue	Slim Fit	Comfort
Male	Over 30	Blue	Relaxed Fit	Comfort
Female	18 and under	Black	Slim Fit	Style
Male	26-30	Blue	Straight‐Leg Fit	Style
Female	Over 30	Black	Slim Fit	Comfort
Male	26-30	Blue	Slim Fit	Comfort
Male	19-25	Blue	Slim Fit	Quality
Female	18 and under	Black	Slim Fit	Style
Male	Over 30	Blue	Relaxed Fit	Style
Female	26-30	Blue	Classic Fit	Brand
Male	19-25	Blue	Classic Fit	Comfort
Male	26-30	Gray	Slim Fit	Price
Male	26-30	Blue	Straight‐Leg Fit	Price
Female	18 and under	Gray	Slim Fit	Quality
Female	Over 30	Gray	Relaxed Fit	Comfort
Male	18 and under	Black	Slim Fit	Brand
Female	26-30	Gray	Classic Fit	Brand
Male	19-25	Gray	Slim Fit	Comfort
Female	26-30	Gray	Straight‐Leg Fit	Comfort
"""

# Convert the string data into a list of dictionaries
# Step 1: Split the data into rows
rows = data_string.strip().split('\n')

# Step 2: Extract the headers
headers = rows[0].split('\t')

# Step 3: Convert each row into a dictionary, removing the 'Preferred Color' field
data = []
for row in rows[1:]:
    values = row.split('\t')
    entry = {headers[i]: values[i] for i in range(len(values)) if headers[i] != 'Preferred Color'}
    data.append(entry)

# Display the converted list of dictionaries
data


# Convert the list of dictionaries to a pandas DataFrame
df = pd.DataFrame(data)

# Create a pivot table to count occurrences of each style by gender and age group
pivot_table = pd.pivot_table(df, 
                             index=["Gender", "Age Group"], 
                             columns="Preferred Style", 
                             aggfunc='size', 
                             fill_value=0)

# Add a "Grand Total" column (sum of each row)
pivot_table["Grand Total"] = pivot_table.sum(axis=1)

# Calculate the grand total for each preferred style (sum of each column)
grand_totals = pivot_table.sum(axis=0)

# Convert to a DataFrame and append the "Grand Total" row at the bottom
grand_totals_df = pd.DataFrame([grand_totals], index=["Grand Total"])
pivot_table = pd.concat([pivot_table, grand_totals_df])

# Reset index to make "Gender" and "Age Group" regular columns
pivot_table = pivot_table.reset_index()

# Use tabulate to print the final table in a tabular format
# print(tabulate(pivot_table, headers='keys', tablefmt='grid'))


pivot_table

Preferred Style,index,Classic Fit,Relaxed Fit,Slim Fit,Straight‐Leg Fit,Grand Total
0,"(Female, 18 and under)",0,0,5,0,5
1,"(Female, 19-25)",0,1,0,0,1
2,"(Female, 26-30)",3,0,2,1,6
3,"(Female, Over 30)",0,1,1,0,2
4,"(Male, 18 and under)",0,0,1,0,1
5,"(Male, 19-25)",1,0,5,1,7
6,"(Male, 26-30)",0,0,2,2,4
7,"(Male, Over 30)",1,2,1,0,4
8,Grand Total,5,4,17,4,30

In [9]:
pip install tabulate

Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl.metadata (34 kB)
Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
import pandas as pd
from tabulate import tabulate



# Convert the list of dictionaries to a pandas DataFrame
df = pd.DataFrame(data)

# Create a pivot table to count occurrences of each purchase influence by gender and age group
pivot_table = pd.pivot_table(df, 
                             index=["Gender", "Age Group"], 
                             columns="Purchase Influence", 
                             aggfunc='size', 
                             fill_value=0)

# Add a "Grand Total" column (sum of each row)
pivot_table["Grand Total"] = pivot_table.sum(axis=1)

# Calculate the grand total for each purchase influence (sum of each column)
grand_totals = pivot_table.sum(axis=0)

# Convert to a DataFrame and append the "Grand Total" row at the bottom
grand_totals_df = pd.DataFrame([grand_totals], index=["Grand Total"])
pivot_table = pd.concat([pivot_table, grand_totals_df])

# Reset index to make "Gender" and "Age Group" regular columns
pivot_table = pivot_table.reset_index()

# Use tabulate to print the final table in a tabular format
# print(tabulate(pivot_table, headers='keys', tablefmt='grid'))

pivot_table

Purchase Influence,index,Brand,Comfort,Price,Quality,Style,Grand Total
0,"(Female, 18 and under)",0,0,1,1,3,5
1,"(Female, 19-25)",0,1,0,0,0,1
2,"(Female, 26-30)",3,2,0,0,1,6
3,"(Female, Over 30)",0,2,0,0,0,2
4,"(Male, 18 and under)",1,0,0,0,0,1
5,"(Male, 19-25)",0,4,1,2,0,7
6,"(Male, 26-30)",0,1,2,0,1,4
7,"(Male, Over 30)",0,1,0,1,2,4
8,Grand Total,4,11,4,4,7,30

### QUESTION 10

Enhance the Sales Transactions database to perform a database query that finds the transaction code and amount associated with any customer ID input. Apply your results to customer ID 10298.

## QUESTION  11

Enhance the Sales Transactions database to perform a database query that finds the transaction code and amount associated with any customer ID input. Apply your results to customer ID 10227.


### PART A

[A] =INDEX(A2:G473,MATCH(J2,A2:A473,0),4)


[C] =INDEX(A2:G473,MATCH(J2,A2:A473,0),6)

In [15]:
import pandas as pd

# The dataset string (truncated for brevity)
data_string = """
Cust ID	Region	Payment	Transaction Code	Source	Amount	Product
10001	East	Paypal	93816545	Web	20.19	DVD
10002	West	Credit	74083490	Web	17.85	DVD
10003	North	Credit	64942368	Web	23.98	DVD
10004	West	Paypal	70560957	Email	23.51	Book
10005	South	Credit	35208817	Web	15.33	Book
10006	West	Paypal	20978903	Email	17.3	DVD
10007	East	Credit	80103311	Web	177.72	Book
10008	West	Credit	14132683	Web	21.76	Book
10009	West	Paypal	40128225	Web	15.92	DVD
10010	South	Paypal	49073721	Web	23.39	DVD
10011	South	Paypal	57398827	Email	24.45	Book
10012	East	Credit	34400661	Web	20.39	Book
10013	North	Paypal	54242587	Web	19.54	DVD
10014	East	Credit	62597750	Web	151.67	Book
10015	West	Credit	51555882	Web	21.01	DVD
10016	West	Paypal	54332964	Web	22.91	DVD
10017	West	Credit	26623353	Email	19.51	Book
10018	West	Paypal	78594431	Web	20.16	Book
10019	West	Credit	89385348	Web	17.53	DVD
10020	West	Credit	69868417	Web	17.74	DVD
10021	North	Paypal	59660276	Email	17.16	Book
10022	West	Credit	25456590	Web	205.58	Book
10023	South	Credit	93283893	Email	18.12	Book
10024	West	Credit	45991123	Web	20.04	DVD
10025	West	Paypal	79121745	Email	23.21	DVD
10026	West	Credit	80685117	Email	22.79	DVD
10027	West	Credit	56686474	Web	16.91	DVD
10028	South	Credit	25270813	Web	20.22	Book
10029	East	Paypal	59736137	Web	18.36	DVD
10030	West	Paypal	79615191	Email	206.8	Book
10031	North	Paypal	55365094	Email	17.95	DVD
10032	East	Credit	79118930	Web	18.29	Book
10033	South	Paypal	84470584	Web	18.55	Book
10034	West	Credit	71097636	Web	18.82	Book
10035	West	Credit	73290219	Web	16.35	Book
10036	East	Credit	92093991	Web	16.3	DVD
10037	South	Paypal	11165609	Web	217	Book
10038	East	Credit	79944825	Web	16.15	DVD
10039	North	Credit	59537977	Web	18.78	DVD
10040	South	Credit	37870882	Web	150.99	Book
10041	West	Credit	59747081	Web	21.39	DVD
10042	West	Credit	33511221	Web	16.6	DVD
10043	South	Paypal	69676186	Web	23.81	Book
10044	South	Credit	72150231	Web	15.87	Book
10045	West	Credit	64874923	Web	20.82	DVD
10046	South	Credit	79755506	Web	21.15	Book
10047	South	Paypal	43322747	Web	19.66	DVD
10048	West	Paypal	57979095	Email	21.02	DVD
10049	West	Credit	96485037	Web	23.13	DVD
10050	West	Paypal	85636284	Web	15.17	DVD
10051	East	Paypal	42519148	Web	209.51	Book
10052	West	Credit	59845178	Web	16.03	Book
10053	North	Credit	47961093	Email	16.17	DVD
10054	East	Credit	32857450	Web	18.37	DVD
10055	East	Credit	23437096	Web	15.96	Book
10056	North	Paypal	23846199	Web	19.29	Book
10057	West	Paypal	15630914	Email	16.49	DVD
10058	East	Paypal	64471213	Web	18.12	Book
10059	East	Credit	70288635	Web	18.22	DVD
10060	East	Credit	46067931	Web	18.32	Book
10061	West	Credit	73400603	Web	23.77	DVD
10062	East	Paypal	31794035	Web	24.35	Book
10063	South	Credit	72954240	Email	20.13	DVD
10064	North	Credit	12364851	Email	20.77	DVD
10065	North	Credit	19974213	Email	16.98	DVD
10066	East	Credit	68753569	Email	19.4	Book
10067	East	Paypal	77232784	Email	23.49	Book
10068	South	Credit	94731015	Web	15.58	Book
10069	South	Credit	49007475	Web	21.94	DVD
10070	South	Credit	71384600	Email	229.73	Book
10071	West	Credit	15282110	Web	16.06	Book
10072	South	Credit	87012305	Web	22.21	DVD
10073	West	Credit	27742544	Email	21.58	DVD
10074	North	Paypal	97981670	Email	16.09	Book
10075	East	Credit	83670405	Email	16.1	DVD
10076	East	Credit	99063530	Web	15.95	DVD
10077	South	Credit	25978103	Email	17.77	Book
10078	North	Credit	81824666	Web	19.3	DVD
10079	West	Paypal	86833489	Web	21.75	Book
10080	West	Paypal	73512800	Web	20.51	Book
10081	North	Credit	11673210	Web	16.14	DVD
10082	West	Paypal	76787805	Email	157.76	Book
10083	South	Credit	34610946	Web	21.55	Book
10084	North	Paypal	69586073	Web	21.85	DVD
10085	East	Credit	87017416	Web	21.7	DVD
10086	East	Paypal	37371293	Web	20.31	Book
10087	East	Credit	27497600	Email	23.62	Book
10088	East	Credit	29510284	Web	216.37	Book
10089	North	Paypal	40878208	Web	21.99	DVD
10090	West	Credit	83375454	Email	18.2	DVD
10091	East	Credit	61236522	Email	17.31	Book
10092	West	Credit	68788857	Web	23.94	Book
10093	West	Paypal	58309878	Email	174.25	Book
10094	West	Paypal	84324439	Web	20.26	DVD
10095	North	Credit	90647889	Web	18.73	DVD
10096	North	Paypal	31225474	Web	22.88	Book
10097	West	Paypal	79286039	Web	19.15	DVD
10098	South	Credit	69628094	Email	15.33	Book
10099	West	Paypal	19891764	Web	20.82	DVD
10100	West	Credit	21992857	Web	20.61	DVD
10101	East	Credit	40572972	Web	16.43	DVD
10102	West	Credit	80218197	Web	21.1	DVD
10103	North	Paypal	72072353	Email	21.64	Book
10104	West	Paypal	44250706	Email	18.06	Book
10105	East	Credit	31062653	Web	19.35	Book
10106	North	Credit	84047393	Web	23.7	DVD
10107	North	Credit	59891368	Web	18.93	Book
10108	North	Credit	47234209	Email	16.83	Book
10109	West	Credit	47893510	Web	22.19	Book
10110	West	Credit	23513829	Web	23.9	Book
10111	East	Credit	20993720	Web	17.47	DVD
10112	West	Credit	58724265	Email	209.37	Book
10113	North	Credit	47687764	Web	18	DVD
10114	East	Credit	53008101	Web	22.83	Book
10115	East	Credit	68494188	Email	20.31	DVD
10116	South	Paypal	40357817	Web	22.06	DVD
10117	North	Paypal	91328383	Web	15.22	Book
10118	South	Paypal	51497241	Web	20.6	DVD
10119	East	Credit	42829269	Web	18.25	DVD
10120	East	Credit	56174714	Web	174.18	Book
10121	North	Credit	17210514	Email	19.58	DVD
10122	West	Paypal	40504819	Web	17.91	Book
10123	West	Credit	58186991	Web	22.9	Book
10124	North	Paypal	46376047	Web	22.26	Book
10125	South	Credit	95760408	Web	19.04	Book
10126	East	Credit	73024614	Web	17.42	DVD
10127	West	Paypal	63167563	Web	18.54	Book
10128	North	Credit	83800724	Web	19.74	DVD
10129	West	Credit	11739665	Web	22.03	DVD
10130	West	Paypal	74393415	Web	236.49	Book
10131	South	Paypal	30372359	Email	19.3	DVD
10132	East	Credit	47768495	Email	23.73	DVD
10133	West	Paypal	74154714	Web	19.96	Book
10134	East	Credit	33525138	Web	20.75	DVD
10135	South	Paypal	84542864	Web	22.37	DVD
10136	West	Credit	24537107	Email	24.03	DVD
10137	West	Credit	74241899	Web	24.59	DVD
10138	West	Paypal	33200655	Email	155.91	Book
10139	East	Credit	89349547	Email	16.43	Book
10140	South	Paypal	83528887	Web	15.71	Book
10141	West	Paypal	21113649	Web	15.19	Book
10142	West	Paypal	35126822	Web	21.35	DVD
10143	West	Credit	98692914	Web	19.47	DVD
10144	West	Credit	96105789	Web	21.49	DVD
10145	East	Paypal	72991138	Web	22.2	DVD
10146	East	Paypal	77775458	Web	21.15	DVD
10147	East	Credit	71420485	Web	15.16	DVD
10148	East	Credit	55498553	Email	15.71	Book
10149	West	Paypal	93904863	Web	24.65	Book
10150	West	Paypal	37998977	Email	24.88	Book
10151	East	Paypal	24697741	Email	17.49	Book
10152	West	Credit	77906388	Web	19.71	DVD
10153	South	Credit	79915334	Web	17.33	Book
10154	West	Credit	50624253	Web	15.56	DVD
10155	East	Credit	32851119	Web	18.94	DVD
10156	North	Credit	79812666	Web	22.86	Book
10157	South	Paypal	45319579	Web	15.18	Book
10158	South	Credit	44466808	Web	22.46	Book
10159	West	Credit	26950438	Email	21.39	Book
10160	South	Credit	66610830	Email	22.17	DVD
10161	North	Paypal	45496161	Web	234.63	Book
10162	North	Paypal	57085887	Web	24.97	Book
10163	West	Credit	86987062	Web	15.72	Book
10164	East	Credit	75029194	Web	24.35	Book
10165	West	Paypal	16712886	Email	16.09	Book
10166	West	Credit	39307303	Web	23.51	Book
10167	North	Paypal	41334963	Web	22.59	Book
10168	East	Credit	58630343	Web	15.59	DVD
10169	West	Credit	87184105	Web	190.81	Book
10170	West	Paypal	35358631	Web	21.12	Book
10171	North	Credit	55749730	Web	24.6	DVD
10172	North	Paypal	62374456	Web	21.22	DVD
10173	West	Credit	84556568	Web	21.78	DVD
10174	West	Credit	57605353	Web	16.54	DVD
10175	East	Credit	45033697	Email	177.32	Book
10176	South	Credit	33917941	Web	21.5	Book
10177	West	Paypal	39654675	Web	24.65	DVD
10178	North	Paypal	47532285	Web	19.43	DVD
10179	West	Credit	85998809	Web	21.12	DVD
10180	West	Credit	34960635	Web	18.1	DVD
10181	East	Credit	85117076	Email	24.4	Book
10182	South	Credit	67865323	Web	19.37	Book
10183	West	Credit	55061563	Email	19.17	DVD
10184	South	Credit	58022125	Email	241.77	Book
10185	West	Paypal	25679000	Web	19.65	Book
10186	West	Paypal	35078468	Web	19.88	Book
10187	West	Paypal	75772325	Web	15.18	DVD
10188	West	Paypal	25433486	Web	15.08	Book
10189	North	Paypal	65056232	Web	23.74	Book
10190	North	Credit	96077043	Web	19.44	Book
10191	South	Credit	68380003	Web	17.7	DVD
10192	West	Credit	92733708	Web	16.99	DVD
10193	East	Paypal	17547620	Email	16.13	Book
10194	West	Paypal	95291830	Web	24.8	DVD
10195	West	Paypal	49471722	Web	17.52	Book
10196	North	Paypal	70336893	Web	23.63	Book
10197	West	Credit	44142213	Web	23.03	DVD
10198	West	Paypal	69832322	Web	21.03	DVD
10199	South	Credit	54284580	Web	21.88	Book
10200	South	Credit	69967343	Email	24.86	Book
10201	North	Credit	70932816	Email	21.43	DVD
10202	South	Paypal	74082072	Web	16.32	DVD
10203	East	Credit	92299116	Web	17.2	DVD
10204	North	Paypal	33160396	Web	17.87	DVD
10205	South	Credit	22141389	Web	17.27	DVD
10206	South	Credit	43297905	Web	19.76	Book
10207	East	Paypal	72307242	Web	17.1	Book
10208	West	Credit	66131853	Email	15.66	Book
10209	West	Credit	71755916	Web	22.37	Book
10210	East	Credit	55102089	Web	15.81	DVD
10211	South	Credit	25266837	Web	18.75	DVD
10212	West	Credit	17246696	Email	192.41	Book
10213	South	Credit	55149876	Email	242.52	Book
10214	North	Credit	66024609	Web	20.4	Book
10215	East	Credit	74962881	Web	24.71	DVD
10216	East	Credit	66903731	Web	21.49	DVD
10217	West	Paypal	71026884	Web	22.26	DVD
10218	West	Credit	86140667	Web	22.39	Book
10219	East	Credit	97905965	Email	21.01	Book
10220	West	Credit	40197352	Web	226.15	Book
10221	West	Paypal	43741856	Web	20.67	Book
10222	West	Credit	78186031	Web	21.72	DVD
10223	East	Credit	58045939	Email	16.34	Book
10224	West	Credit	16151482	Web	19.19	Book
10225	West	Credit	16578164	Email	19.21	DVD
10226	West	Credit	96323938	Web	16.06	Book
10227	South	Paypal	77228031	Web	20.87	DVD
10228	West	Credit	10779898	Web	15.33	DVD
10229	West	Credit	85174502	Web	23.58	DVD
10230	North	Credit	73359370	Email	15.34	Book
10231	North	Paypal	10400774	Web	216.2	Book
10232	East	Credit	69035250	Email	21.85	DVD
10233	West	Credit	45792515	Web	23.59	Book
10234	North	Paypal	28433265	Web	20.44	Book
10235	East	Credit	55311936	Web	22.05	DVD
10236	West	Paypal	64115201	Email	20.42	Book
10237	West	Credit	66071683	Email	20.49	DVD
10238	West	Credit	97687340	Web	161.46	Book
10239	South	Paypal	41078038	Web	19.69	DVD
10240	South	Paypal	55142477	Web	24.16	Book
10241	East	Credit	41419462	Web	22.8	DVD
10242	East	Paypal	39303323	Web	243.7	Book
10243	West	Paypal	95949085	Web	210.38	Book
10244	West	Paypal	28911817	Email	161.5	Book
10245	South	Credit	36561487	Email	21.92	DVD
10246	West	Credit	71502183	Web	23.75	DVD
10247	West	Credit	54077093	Email	23.74	DVD
10248	West	Paypal	92266350	Web	21.67	Book
10249	West	Paypal	60490288	Email	22.04	Book
10250	North	Paypal	72701137	Email	17.83	DVD
10251	South	Paypal	32435141	Web	23.6	Book
10252	North	Credit	48330352	Web	19.9	Book
10253	East	Credit	17689891	Email	209.2	Book
10254	East	Credit	67182932	Email	24	Book
10255	West	Credit	97950489	Web	17.81	Book
10256	West	Paypal	50561229	Email	24.77	DVD
10257	East	Credit	70759248	Web	21	DVD
10258	North	Paypal	77616151	Web	191.43	Book
10259	South	Paypal	79551499	Web	24.52	DVD
10260	East	Credit	90656731	Web	17.34	DVD
10261	East	Paypal	33909737	Web	17.19	Book
10262	West	Credit	63841931	Web	22.55	Book
10263	South	Credit	30506370	Web	15.35	DVD
10264	South	Credit	81572757	Web	23.2	Book
10265	West	Credit	70596149	Web	241.65	Book
10266	West	Paypal	95125046	Email	242.4	Book
10267	West	Paypal	10754185	Web	23.01	DVD
10268	East	Credit	88506060	Email	17.22	DVD
10269	North	Paypal	80319080	Web	15.96	DVD
10270	East	Credit	27016365	Web	15.45	DVD
10271	North	Credit	80034508	Email	17.41	DVD
10272	East	Credit	76677689	Web	21.64	Book
10273	South	Credit	96855830	Web	157.86	Book
10274	West	Paypal	54775836	Web	18.17	DVD
10275	West	Credit	18066842	Web	18.73	Book
10276	West	Paypal	28240563	Web	17.24	Book
10277	South	Credit	24796034	Web	23.91	DVD
10278	South	Credit	60979466	Web	22.12	Book
10279	West	Credit	44558261	Web	15.25	DVD
10280	South	Credit	49683597	Web	24.77	Book
10281	West	Paypal	70748780	Email	20.28	Book
10282	South	Paypal	80637514	Email	20.33	DVD
10283	South	Credit	77963353	Web	16.9	Book
10284	South	Paypal	55003920	Web	16.47	Book
10285	West	Paypal	66231568	Web	21.18	Book
10286	West	Credit	49290839	Web	15.86	Book
10287	West	Credit	65745301	Web	24.42	Book
10288	South	Paypal	18744208	Web	222.38	Book
10289	South	Paypal	52683186	Web	188.85	Book
10290	East	Credit	87677897	Web	15.32	Book
10291	West	Credit	78943440	Email	24.71	Book
10292	East	Credit	92175770	Web	20.97	Book
10293	West	Credit	32571506	Email	21.92	DVD
10294	West	Paypal	11427628	Web	15.4	Book
10295	East	Credit	92399789	Web	23.08	Book
10296	East	Paypal	63645553	Web	23.4	DVD
10297	North	Credit	11175481	Web	22.65	Book
10298	East	Paypal	71269390	Email	24.61	Book
10299	East	Credit	97215985	Web	24.97	Book
10300	South	Credit	50531437	Web	18.57	Book
10301	West	Credit	94922677	Email	16.15	DVD
10302	West	Paypal	17454394	Web	19.95	Book
10303	West	Paypal	84850536	Web	15.61	DVD
10304	South	Credit	32164694	Email	19.13	Book
10305	West	Credit	88979280	Web	231.23	Book
10306	East	Credit	21059538	Email	244.75	Book
10307	South	Paypal	12677778	Web	21.36	DVD
10308	West	Credit	77758706	Web	21.83	Book
10309	South	Credit	14512758	Email	21.58	DVD
10310	North	Paypal	23076219	Email	17.51	Book
10311	South	Paypal	71350323	Web	23.29	DVD
10312	West	Paypal	60395312	Web	18.35	Book
10313	West	Credit	38530736	Email	23.06	DVD
10314	South	Credit	16039556	Web	19.81	DVD
10315	East	Credit	93353650	Web	162.74	Book
10316	East	Credit	14150787	Web	16.86	DVD
10317	South	Credit	97279689	Web	23.31	Book
10318	West	Credit	65882511	Email	22.92	Book
10319	West	Credit	88066592	Email	22.84	DVD
10320	North	Credit	82643293	Web	16.97	DVD
10321	South	Credit	97730191	Email	188.16	Book
10322	West	Credit	59686740	Web	22.57	DVD
10323	North	Paypal	93594435	Web	24.71	DVD
10324	South	Credit	82961120	Web	246.67	Book
10325	South	Credit	97623213	Web	20.97	Book
10326	East	Paypal	14765562	Email	19.83	Book
10327	West	Paypal	85470735	Email	19.09	Book
10328	South	Credit	55160635	Email	16.52	Book
10329	South	Credit	90852426	Email	22.31	Book
10330	North	Credit	15945216	Email	19.52	DVD
10331	West	Credit	96688991	Web	24.79	DVD
10332	West	Credit	31841597	Email	18.84	DVD
10333	East	Credit	69450143	Web	24.58	DVD
10334	North	Credit	43384272	Web	17.19	Book
10335	East	Paypal	65292790	Web	19.65	Book
10336	South	Credit	71336291	Web	17.35	Book
10337	West	Paypal	99300859	Web	22.92	DVD
10338	North	Credit	81921349	Email	18.81	DVD
10339	West	Paypal	40237279	Web	20.08	Book
10340	West	Credit	38167466	Email	24.54	Book
10341	West	Paypal	88466601	Web	24.81	Book
10342	West	Paypal	27965385	Email	15.94	DVD
10343	North	Paypal	80215999	Web	18.29	DVD
10344	East	Credit	12222505	Web	15.55	DVD
10345	West	Paypal	64014515	Web	19.2	DVD
10346	West	Credit	90818758	Email	17.34	DVD
10347	East	Paypal	94873280	Email	22.51	DVD
10348	South	Paypal	73200296	Email	23.45	DVD
10349	East	Paypal	38960810	Web	16.15	DVD
10350	West	Paypal	88326061	Web	17.68	Book
10351	North	Credit	41691635	Email	22.11	Book
10352	West	Credit	58121431	Web	18.41	DVD
10353	West	Paypal	55259994	Web	17.08	DVD
10354	South	Paypal	61072223	Web	15.77	DVD
10355	East	Credit	17256670	Web	22.41	Book
10356	North	Paypal	98206099	Web	20.63	DVD
10357	South	Credit	43063718	Email	18.14	Book
10358	North	Credit	67151337	Web	20.18	Book
10359	West	Credit	39969279	Email	177.3	Book
10360	South	Paypal	58790759	Web	15.71	DVD
10361	North	Credit	45790914	Web	21.75	DVD
10362	South	Credit	85351233	Email	18.25	Book
10363	South	Credit	40331224	Web	203.72	Book
10364	West	Paypal	13065288	Email	15.54	Book
10365	West	Credit	30370343	Web	17.5	DVD
10366	East	Credit	38342520	Web	21.32	Book
10367	East	Paypal	37778643	Web	150.86	Book
10368	West	Paypal	21005551	Web	17.39	Book
10369	East	Credit	80160243	Web	23.87	DVD
10370	North	Credit	70859272	Web	21.53	Book
10371	North	Credit	41514905	Web	19.64	DVD
10372	West	Paypal	68986646	Web	18.27	Book
10373	West	Credit	51423763	Web	19.27	DVD
10374	North	Credit	78615837	Web	20.16	Book
10375	West	Credit	95641106	Web	15.59	DVD
10376	South	Paypal	40892422	Email	16.34	DVD
10377	East	Credit	70431710	Web	199.18	Book
10378	South	Paypal	95673115	Web	19.99	Book
10379	North	Credit	72527223	Email	18.44	DVD
10380	West	Credit	77577648	Web	23.75	Book
10381	West	Credit	26849225	Web	20.88	DVD
10382	South	Credit	27508938	Web	197.43	Book
10383	West	Credit	43095105	Web	20.32	Book
10384	South	Credit	70978581	Web	16.82	DVD
10385	West	Paypal	72898757	Web	20.16	Book
10386	West	Credit	56976893	Web	16.79	Book
10387	North	Credit	35119351	Email	22.53	Book
10388	South	Paypal	65437162	Email	21.68	Book
10389	North	Paypal	70003314	Email	23.54	Book
10390	East	Paypal	54664522	Web	17.67	DVD
10391	West	Credit	10325805	Web	22.79	Book
10392	East	Paypal	28672617	Web	24.8	Book
10393	South	Paypal	21364705	Email	15.27	Book
10394	West	Credit	44719881	Email	18.74	Book
10395	West	Credit	42164058	Web	16.47	DVD
10396	West	Paypal	68675115	Web	18.11	DVD
10397	West	Paypal	48712948	Web	20.73	DVD
10398	West	Credit	93152672	Web	21.64	DVD
10399	East	Credit	12824694	Web	17.38	Book
10400	West	Credit	73484989	Web	17.7	DVD
10401	West	Credit	79418802	Web	24.66	Book
10402	West	Credit	85598102	Web	24.24	DVD
10403	South	Paypal	81254753	Email	19.79	Book
10404	North	Credit	97869460	Web	16.86	DVD
10405	North	Credit	19446725	Web	19.97	DVD
10406	East	Credit	12075708	Web	22.99	Book
10407	North	Credit	87645248	Web	153.83	Book
10408	South	Credit	88351358	Web	15.2	DVD
10409	West	Credit	86741411	Web	16.01	DVD
10410	West	Paypal	85689748	Web	18.88	DVD
10411	South	Credit	39676844	Email	21.54	Book
10412	East	Credit	59845402	Web	24.11	Book
10413	North	Paypal	39267241	Web	21.43	Book
10414	North	Credit	82025542	Web	24.8	DVD
10415	West	Credit	16559991	Web	19.76	DVD
10416	North	Credit	80278554	Web	23.97	DVD
10417	North	Credit	30257860	Web	19.96	DVD
10418	West	Credit	46744434	Web	18.19	Book
10419	East	Credit	49155614	Web	17.28	DVD
10420	West	Credit	53795790	Web	24.84	Book
10421	South	Paypal	75332091	Email	16.32	Book
10422	North	Credit	83194866	Web	23.47	Book
10423	West	Credit	33911548	Email	16.65	Book
10424	East	Paypal	20917768	Web	22.64	Book
10425	North	Credit	63888401	Web	16.66	Book
10426	North	Credit	99361092	Email	21.78	Book
10427	West	Paypal	39373058	Web	21.29	DVD
10428	North	Paypal	91945826	Web	160.78	Book
10429	West	Credit	39442197	Web	21.1	Book
10430	East	Credit	96995760	Web	169.79	Book
10431	West	Paypal	99830378	Web	16.99	Book
10432	North	Credit	97898924	Email	23.64	DVD
10433	North	Credit	48100304	Email	18.92	Book
10434	West	Paypal	61029935	Email	23.96	Book
10435	South	Paypal	74335115	Web	18.53	Book
10436	West	Credit	94386287	Web	24.44	DVD
10437	South	Credit	94086275	Web	21.81	DVD
10438	South	Paypal	59470574	Email	18.25	DVD
10439	East	Credit	20030922	Web	17.42	Book
10440	South	Credit	45769254	Web	18.4	Book
10441	North	Paypal	94775848	Email	23.88	DVD
10442	West	Credit	98078573	Web	17.76	Book
10443	South	Credit	48152632	Email	23.06	Book
10444	West	Paypal	44336631	Web	18.87	Book
10445	West	Credit	74850396	Web	17.87	DVD
10446	East	Credit	85688947	Web	18.77	Book
10447	North	Credit	83549993	Web	18.6	DVD
10448	North	Credit	62629771	Web	152.27	Book
10449	North	Credit	76032910	Web	20.83	Book
10450	West	Credit	78837536	Email	21.47	Book
10451	West	Credit	61532595	Web	218.6	Book
10452	North	Paypal	50289683	Web	163.37	Book
10453	North	Paypal	56319779	Web	24.78	Book
10454	West	Credit	26242351	Web	17.01	Book
10455	South	Credit	80577738	Web	231.23	Book
10456	East	Credit	81079401	Web	22.57	DVD
10457	West	Paypal	17165782	Web	24.16	DVD
10458	South	Paypal	90636722	Web	20.68	Book
10459	South	Paypal	43626259	Web	21.2	DVD
10460	West	Credit	61496170	Web	247.14	Book
10461	South	Credit	16101751	Web	19.1	Book
10462	South	Paypal	55348039	Web	19.02	DVD
10463	East	Credit	50785284	Web	19.66	Book
10464	West	Credit	92997267	Email	168.1	Book
10465	West	Credit	30255549	Web	16.83	Book
10466	East	Credit	85660114	Email	23.89	Book
10467	South	Credit	43913307	Web	16.73	DVD
10468	South	Credit	47286881	Email	22.05	DVD
10469	North	Paypal	62265606	Email	17.88	Book
10470	West	Credit	63133211	Email	15.18	DVD
10471	West	Paypal	24646414	Web	15.62	DVD
10472	North	Credit	65043803	Web	20.58	DVD
"""

# Convert the string into a list of rows
data_list = [row.split('\t') for row in data_string.strip().split('\n')]

# Create a DataFrame from the parsed data
columns = data_list[0]  # Extract headers
data = data_list[1:]    # Extract data

df = pd.DataFrame(data, columns=columns)

# Convert numerical columns to appropriate types
df['Cust ID'] = pd.to_numeric(df['Cust ID'])
df['Transaction Code'] = pd.to_numeric(df['Transaction Code'])
df['Amount'] = pd.to_numeric(df['Amount'])

# Define the customer ID to search
customer_id = 10084

# Find the transaction code and amount for the given customer ID (simulated with another customer)
transaction_code = df.loc[df['Cust ID'] == customer_id, 'Transaction Code'].values[0] if not df.loc[df['Cust ID'] == customer_id, 'Transaction Code'].empty else "Customer not found"
amount = df.loc[df['Cust ID'] == customer_id, 'Amount'].values[0] if not df.loc[df['Cust ID'] == customer_id, 'Amount'].empty else "Customer not found"

print(transaction_code, amount)

69586073 21.85

## QUESTION 12

In [1]:
from datetime import datetime
import pandas as pd

# String data provided
data_string = """
ID	Guest First Name	Guest Last Name	Room	Room Type	Arrival Date	Departure Date	No of Guests	Daily Rate ($)
1	Barry	Lloyd	Hayes	Bay‐window	12/1/2014	12/4/2014	2	150.00
2	Michael	Lunsford	Cleveland	Ocean	12/1/2014	12/9/2014	3	112.50
3	Kim	Kyuong	Coolidge	Bay‐window	12/4/2014	12/7/2014	1	150.00
4	Edward	Holt	Washington	Ocean	12/1/2014	12/3/2014	4	325.00
5	Thomas	Collins	Lincoln	Ocean	12/9/2014	12/13/2014	2	300.00
6	Paul	Bodkin	Coolidge	Bay‐window	12/1/2014	12/3/2014	2	150.00
7	Randall	Battenburg	Washington	Ocean	12/4/2014	12/12/2014	2	292.50
8	Calvin	Nowotney	Lincoln	Ocean	12/2/2014	12/4/2014	1	300.00
9	Homer	Gonzalez	Lincoln	Ocean	12/5/2014	12/7/2014	5	320.00
10	David	Sanchez	Jefferson	Bay‐window	12/5/2014	12/7/2014	2	175.00
11	Buster	Whisler	Jackson	Ocean	12/5/2014	12/8/2014	2	250.00
12	Julia	Martines	Reagan	Bay‐window	12/10/2014	12/15/2014	1	150.00
13	Samuel	Kim	Truman	Side	12/20/2014	12/30/2014	3	112.50
14	Arthur	Gottfried	Garfield	Side	12/13/2014	12/15/2014	2	125.00
15	Darlene	Shore	Arthur	Ocean	12/24/2014	12/31/2014	5	198.00
16	Carlyle	Charleston	Quincy Adams	Bay‐window	12/3/2014	12/6/2014	2	150.00
17	Albert	Goldstone	Johnson	Ocean	12/5/2014	12/7/2014	3	250.00
18	Charlene	Tilson	Van Buren	Bay‐window	12/5/2014	12/7/2014	1	150.00
19	Everett	Chad	Madison	Ocean	12/10/2014	12/14/2014	2	275.00
20	Gerald	Pittsfield	Roosevelt	Ocean	12/5/2014	12/7/2014	2	275.00
21	Jamal	Smith	Tyler	Bay‐window	12/20/2014	12/23/2014	2	150.00
22	Louis	Paris	Jackson	Ocean	12/10/2014	12/14/2014	1	250.00
23	Nigel	Stratford	Eisenhower	Ocean	12/14/2014	12/16/2014	2	200.00
24	Peter	Willington	Grant	Ocean	12/19/2014	12/21/2014	1	200.00
25	Ronald	Cartier	Jefferson	Bay‐window	12/24/2014	12/28/2014	4	175.00
26	Trista	Leven	Eisenhower	Ocean	12/17/2014	12/20/2014	1	200.00
27	Valerie	Snell	Adams	Bay‐window	12/3/2014	12/6/2014	1	150.00
28	Walter	Acton	Polk	Side	12/24/2014	12/31/2014	6	148.50
29	Xavier	Trezza	McKinley	Side	12/14/2014	12/17/2014	2	125.00
30	Zachary	Miller	Washington	Ocean	12/13/2014	12/16/2014	2	325.00
"""

# Convert the string into a list of rows
data_list = [row.split('\t') for row in data_string.strip().split('\n')]

# Create a DataFrame from the parsed data
columns = data_list[0]  # Extract headers
data = data_list[1:]    # Extract data

df = pd.DataFrame(data, columns=columns)

# Convert numerical and date columns to appropriate types
df['No of Guests'] = pd.to_numeric(df['No of Guests'])
df['Daily Rate ($)'] = pd.to_numeric(df['Daily Rate ($)'])
df['Arrival Date'] = pd.to_datetime(df['Arrival Date'])
df['Departure Date'] = pd.to_datetime(df['Departure Date'])

# Define a function to calculate the additional daily rate based on number of guests
def calculate_daily_rate_with_guests(guests, daily_rate):
    if guests > 2:
        return daily_rate + (guests - 2) * 20
    return daily_rate

# Define a function to calculate total number of days stayed
def calculate_days_stayed(arrival, departure):
    return (departure - arrival).days

# Define a function to calculate the total revenue considering discounts and additional guests
def calculate_total_revenue(guests, daily_rate, days_stayed):
    total_rate = calculate_daily_rate_with_guests(guests, daily_rate)
    total_revenue = total_rate * days_stayed
    # Apply 9% discount if stayed for 7 or more days
    if days_stayed >= 7:
        total_revenue *= 0.91
    return total_revenue

# Apply calculations to each row
df['Daily Rate Considering Num of Guests ($)'] = df.apply(lambda x: calculate_daily_rate_with_guests(x['No of Guests'], x['Daily Rate ($)']), axis=1)
df['Num of Days Stayed'] = df.apply(lambda x: calculate_days_stayed(x['Arrival Date'], x['Departure Date']), axis=1)
df['Total Revenue ($)'] = df.apply(lambda x: calculate_total_revenue(x['No of Guests'], x['Daily Rate ($)'], x['Num of Days Stayed']), axis=1)

# Display the updated DataFrame without using ace_tools, but with pandas display

# Display the updated DataFrame with calculated columns
df[['ID', 'Guest First Name', 'Guest Last Name', 'Room', 'Room Type', 'Arrival Date', 
    'Departure Date', 'No of Guests', 'Daily Rate ($)', 
    'Daily Rate Considering Num of Guests ($)', 'Num of Days Stayed', 'Total Revenue ($)']]

# Now display the DataFrame using pandas' standard display functions
# Display only the requested columns: Daily Rate Considering Num of Guests ($), Num of Days Stayed, Total Revenue ($)
df[['Daily Rate Considering Num of Guests ($)', 'Num of Days Stayed', 'Total Revenue ($)']]

,Daily Rate Considering Num of Guests ($),Num of Days Stayed,Total Revenue ($)
0,150.0,3,450.000
1,132.5,8,964.600
2,150.0,3,450.000
3,365.0,2,730.000
4,300.0,4,1200.000
5,150.0,2,300.000
6,292.5,8,2129.400
7,300.0,2,600.000
8,380.0,2,760.000
9,175.0,2,350.000
10,250.0,3,750.000
11,150.0,5,750.000
12,132.5,10,1205.750
13,125.0,2,250.000
14,258.0,7,1643.460
15,150.0,3,450.000
16,270.0,2,540.000
17,150.0,2,300.000
18,275.0,4,1100.000
19,275.0,2,550.000
20,150.0,3,450.000
21,250.0,4,1000.000
22,200.0,2,400.000
23,200.0,2,400.000
24,215.0,4,860.000
25,200.0,3,600.000
26,150.0,3,450.000
27,228.5,7,1455.545
28,125.0,3,375.000
29,325.0,3,975.000

## QUESTION 13

The Excel file Payroll Data provides hourly salaries for a group of employees. Create an Excel template that allows the user to select an employee by employee​ ID, enter the number of regular hours and overtime hours​ worked, and display a payroll summary with the employee​ name, gross​ pay, federal​ tax, state​ tax, Social​ Security, Medicare withholding​ deductions, and net pay. Assume the federal tax rate is 10​%, the state tax rate is 1.227​%, Social security withholding is 6.9​%, and Medicare withholding is 1.36​%. Use a form control to select the employee ID.​ (Hint: Use the CONCATENATE function to join the first and last name in the​ template.)


### PART 1

Use a list or combo box with input range​ $A$4:$A$17 and cell link​ $H$2. In cell​ H3, enter the formula​ =INDEX($A$4:$A$17,$H$2).



### PART 2

| Name            | =CONCATENATE(VLOOKUP(H3,A4:C17,2), " ", VLOOKUP(H3,A4:C17,3)) |
|-----------------|---------------------------------------------------------------|
| Gross Pay       | =H4*VLOOKUP(H3,A4:E17,4)+H5*VLOOKUP(H3,A4:E17,5)               |
| Federal Tax     | =0.1*H8                                                        |
| State Tax       | =0.01227*H8                                                    |
| Social Security | =0.069*H8                                                      |
| Medicare        | =0.0136*H8                                                     |
| Net Pay         | =H8-SUM(H9:H12)                                                |